<div class="container">

    <div class="row">
        <h1 class="span12">რომელი პროგრამა გჭირდებათ?</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a><span class="divider">/</span></li>
                <li class="active">დაგეგმეთ</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
       
        <div ng-include="'app/shared/_left_section.html'"></div>

        <!-- =========================Start Col right section ============================= -->
        <section class="span8 ">
            <div class="col-right">
                <p class="lead">
                    რომელი პროგრამა გჭირდებათ?
                </p>
                <hr>
                <!--<h4>რომელი პროგრამა გჭირდებათ? </h4>-->
                გარკვევეა ადვილია თქვენი სამუშაოს შედეგის მიხედვით:
                <br />
                <br />
                1.თუ თქვენი სამუშაოს შედეგი უნდა იყოს ნახაზი, მაგალითად ბინის, სახლის, ნაკვეთის გეგმა მაშინ თქვენ  AutoCAD-ი გესაჭიროებათ .
                ინტერიერის, ავეჯის, ლანდშაფტის დიზაინერები ვერ იმუშავებენ    AutoCAD-ის  გარეშე.
                <br />
                2.თუ თქვენ გესაჭიროებათ ვიზუალიზაცია ( ლამაზი სურათები, მაგალითად ინტერიერის დიზაინის წარსადგენათ, არქიტექტურული პროექტების (არქიტექტურული ვიზუალიზაცია), ლანდშაფტური დიზაინის ან სხვა დაპროექტების ობიექტებისათვის), მაშინ თქვენი პაკეტია 3ds Max.
                <br />
                3.თუ თქვენ გესაჭიროებათ ანიმაცია, მაგალითად სარეკლამო რგოლების, პრეზენტაციების და მულტფილმების შესაქმნელად, მაშინ თქვენ გჭირდებათ ან 3ds Max, ან Maya.
                კონკრეტული პაკეტის არჩევანი დამოკიდებულია იმ კომპანიის ჩამოყალიბებულ სამუშაო პროცესზე, სადაც თქვენ აპირებთ მუშაობას. თუ ჯერ არ იცით,  სად აპირებთ მუშაობას, ან ანიმაციების კეთებას ჰობის სახით აპირებთ, მაშინ უკეთესია 3ds Max -ით დაიწყოთ, ვინაიდან დამწყებისათვის ამ პაკეტს აქვს უფრო მეგობრული ინტერფეისი. პროფესიონალები ფლობენ და იყენებენ ორივე პაკეტს.
                <br />
                4. თუ თქვენ გსურთ პაკეტების შესწავლა იმისათვის, რომ რაც შეიძლება მალე მოეწყოთ სამსახურში, მაშინ უმჯობესია Autodesk-ის პროდუქტები: AutoCAD, 3ds Max, Maya. მათი ცოდნის შემთხვევაში თქვენ უფრო სწრაფად იშოვით სამსახურს 3D- ინდუსტრიაში.
                <br />
                5. თუ თქვენ მუშაობთ  არქიტექტურის მიმართულებით მაშინ გამოიყენეთ ტექნოლოგიის და მწვანე მშენებლობის პრინციპით მომუშავე    REVIT
                <br />
                6. თუ თქვენ მუშაობთ მანქანათმშენებლობაში მაშინ თქვენი პროგრამაა  Inventor
                <br />
                7. თუ თქვენ აპროექტებთ ინფრასტრუქტურას- თქვენი პროგრამაა   Civil 3D


            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>