<script src="assets/libs/revolutio-slider-func.js"></script>


<!--Star slider-->
<section class="slider">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <!-- THE FIRST SLIDE -->
                <li data-transition="flyin" data-slotamount="1" data-masterspeed="300" data-thumb="assets/img/thumbs/thumb1.jpg" data-delay="4000">
                    <img src="assets/img/slides/slide-intro.jpg" alt="">
                    <div class="caption randomrotate"
                         data-x="center"
                         data-y="120"
                         data-speed="300"
                         data-start="1200"
                         data-easing="easeOutExpo"><img src="assets/img/slides/logo.png" alt=""></div>
                </li>
                <!-- THE SECOND SLIDE -->
                <li data-transition="3dcurtain-horizontal" data-slotamount="1" data-masterspeed="300" data-thumb="assets/img/thumbs/thumb2.jpg">
                    <img src="assets/img/slides/slide-1.jpg" alt="">

                    <div class="caption randomrotate"
                         data-x="center"
                         data-y="90"
                         data-speed="300"
                         data-start="1000"
                         data-easing="easeOutExpo"><img src="assets/img/slides/diagram.png" alt="Image 9"></div>

                    <div class="caption randomrotate"
                         data-x="150"
                         data-y="80"
                         data-speed="300"
                         data-start="2000"
                         data-easing="easeOutExpo"><img src="assets/img/slides/icon-slide-1.png" alt=""></div>

                    <div class="caption randomrotate"
                         data-x="180"
                         data-y="300"
                         data-speed="300"
                         data-start="2500"
                         data-easing="easeOutExpo"><img src="assets/img/slides/icon-slide-2.png" alt=""></div>

                    <div class="caption randomrotate"
                         data-x="620"
                         data-y="80"
                         data-speed="300"
                         data-start="3000"
                         data-easing="easeOutExpo">
                        <img src="assets/img/slides/icon-slide-3.png" alt=""></sdiv>

                        <div class="caption randomrotate"
                             data-x="605"
                             data-y="300"
                             data-speed="300"
                             data-start="3500"
                             data-easing="easeOutExpo"><img src="assets/img/slides/icon-slide-4.png" alt=""></div>
                </li>
                <!-- THE THIRD SLIDE -->
                <li data-transition="3dcurtain-horizontal" data-slotamount="1" data-masterspeed="300" data-thumb="assets/img/thumbs/thumb2.jpg">
                    <img src="assets/img/slides/slide-2.jpg" alt="">

                    <div class="caption very_big_white lfl stl"
                         data-x="right"
                         data-y="180"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">შემოგვიერთდით</div>

                    <div class="caption lfb stl"
                         data-x="right"
                         data-y="250"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">
                        <a ui-sref="About" class="button_large">მეტი</a>
                    </div>
                </li>
                <!-- THE FOURTH SLIDE -->
                <li data-transition="cube" data-slotamount="1" data-masterspeed="300" data-thumb="assets/img/thumbs/thumb2.jpg">
                    <img src="assets/img/slides/slide-3.jpg" alt="">

                    <div class="caption very_big_white lfl stl"
                         data-x="right"
                         data-y="180"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">მრავალი კურსის არჩევანი</div>

                    <div class="caption lfr stl"
                         data-x="right"
                         data-y="250"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine"><a href="all-courses.html" class="button_large">მეტი</a></div>
                </li>

            </ul>

            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
</section><!--End slider-->



<div class="container" style="z-index:999">

    <div class="row" id="main-boxes">
        <div class="span4">
            <div class="box-style-2 green">
                <a href="all-courses.html" title="All Courses">
                    <img src="assets/img/icon-home-course.png" alt="">
                    <h3>კურსები</h3>
                    <p>Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri.</p>
                </a>
            </div>
        </div>

        <div class="span4">
            <div class="box-style-2 orange">
                <a href="contact.html" title="Apply">
                    <img src="assets/img/icon-home-apply.png" alt="">
                    <h3>კურსზე ჩაწერა</h3>
                    <p>Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri.</p>
                </a>
            </div>
        </div>

        <div class="span4">
            <div class="box-style-2 red">
                <a href="contact.html" title="Plan a visit">
                    <img src="assets/img/icon-home-visit.png" alt="">
                    <h3>დაგეგმეთ</h3>
                    <p>Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri.</p>
                </a>
            </div>
        </div>
    </div>
</div> <!-- end container-->




<div class="container">
    <div class="row">
        <aside class="span4 ">

            <div class="box-style-1 ribbon borders">

                <div class="feat">
                    <i class="icon-group icon-3x"></i>
                    <h3>პროფესიონალი მასწავლებლები</h3>
                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. </p>
                </div>

                <hr class="double">

                <div class="feat">
                    <i class="icon-film icon-3x"></i>
                    <h3>ვიდეო კურსები</h3>
                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. </p>
                </div>

                <hr class="double">

                <div class="feat">
                    <i class="icon-book icon-3x"></i>
                    <h3>ბიბლიოთეკა</h3>
                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. </p>
                </div>

                <hr class="double">

                <div class="feat last">
                    <i class="icon-laptop icon-3x"></i>
                    <h3>ონლაინ კურსები</h3>
                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. </p>
                </div>

            </div>
            <p><a href="all-courses.html" title="All courses"><img src="assets/img/banner.jpg" alt="Banner" class="img-rounded"></a></p>
        </aside>

        <section class="span8">
            <div class="col-right">
                <h2>შემდეგი კურსები</h2>
                <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Priaeque iuvaret nominati et, ad mea clita numquam. Maluisset dissentiunt et per, dico liber erroribus vis te. Dolor consul graecis nec ut, scripta eruditi scriptorem et nam.</p>
                <hr>
                <div class="strip-lessons">
                    <div class="row">
                        <div class="span2">
                            <div class="box-style-one borders"><img src="assets/img/lessons.png" alt=""><h5>Intro</h5></div>
                        </div>
                        <div class="span5">
                            <h4>ტესტ კურსი 1</h4>
                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, <strong>mea ea ullum epicurei</strong>. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Pri aeque iuvaret nominati et, ad mea clita numquam. </p>
                            <ul class="data-lessons">
                                <li><i class="icon-time"></i>ხანგრძლივობა: 3 საათი</li>
                                <li><i class="icon-film"></i><a class="fancybox-media" href="http://www.youtube.com/watch?v=pgk-719mTxM">Play video</a></li>
                                <li><i class="icon-cloud-download"></i><a href="#">გადმოწერე prospect</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- End Strip course -->


                <div class="strip-lessons">
                    <div class="row">
                        <div class="span2">
                            <div class="box-style-one borders"><img src="assets/img/teacher.jpg" alt="" class="picture"><h5>პირველი გაკვეთილი</h5></div>
                        </div>
                        <div class="span5">
                            <h4>ტესტ კურსი 2</h4>
                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, <strong>mea ea ullum epicurei</strong>. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Pri aeque iuvaret nominati et, ad mea clita numquam. </p>
                            <ul class="data-lessons">
                                <li><i class="icon-time"></i>ხანგრძლივობა: 3 საათი</li>
                                <li><i class="icon-film"></i><a class="fancybox-media" href="http://www.youtube.com/watch?v=pgk-719mTxM">Play video</a></li>
                                <li><i class="icon-cloud-download"></i><a href="#">გადმოწერე prospect</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- End Strip course -->

                <div class="strip-lessons">
                    <div class="row">
                        <div class="span2">
                            <div class="box-style-one borders"><img src="assets/img/teacher-2.jpg" alt="" class="picture"><h5>მეორე გაკვეთილი</h5></div>
                        </div>
                        <div class="span5">
                            <h4>ტესტ კურსი 3</h4>
                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, <strong>mea ea ullum epicurei</strong>. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Pri aeque iuvaret nominati et, ad mea clita numquam. </p>
                            <ul class="data-lessons">
                                <li><i class="icon-time"></i>ხანგრძლივობა: 3 საათი</li>
                                <li><i class="icon-film"></i><a class="fancybox-media" href="http://www.youtube.com/watch?v=pgk-719mTxM">Play video</a></li>
                                <li><i class="icon-cloud-download"></i><a href="#">გადმოწერე prospect</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- End Strip course -->

                <div class="strip-lessons">
                    <div class="row">
                        <div class="span2">
                            <div class="box-style-one borders"><img src="assets/img/teacher-3.jpg" alt="" class="picture"><h5>მესამე გაკვეთილი</h5></div>
                        </div>
                        <div class="span5">
                            <h4>ტესტ კურსი 4</h4>
                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, <strong>mea ea ullum epicurei</strong>. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Pri aeque iuvaret nominati et, ad mea clita numquam. </p>
                            <ul class="data-lessons">
                                <li><i class="icon-time"></i>ხანგრძლივობა: 3 საათი</li>
                                <li><i class="icon-film"></i><a class="fancybox-media" href="http://www.youtube.com/watch?v=pgk-719mTxM">Play video</a></li>
                                <li><i class="icon-cloud-download"></i><a href="#">გადმოწერე prospect</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- End Strip course -->

                <p class="text-center"><a href="contact.html" class="button_large">ყველა კურსი </a></p>

            </div>
        </section>
    </div>
</div><!-- end container-->
