<div class="container">

    <div class="row">
        <h1 class="span12">3dsMax</h1>

        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a> <span class="divider">/</span></li>
                <li><a ui-sref="AllCourses">All 3dsMax</a> <span class="divider">/</span></li>
                <li class="active">3dsMax</li>
            </ul>
        </div>

        <!-- =========================Start Col left section ============================= -->
        <aside class="span4 ">
            <div class="col-left">
                <h3>კურსები</h3>
                <ul class="submenu-col">
                    <li><a ui-sref="AllCourses">ყველა კურსი</a></li>
                    <li ng-repeat="c in Courses">
                        <a id="{{(c.Module | isState) ? 'active' : 'false'}}" ui-sref="{{c.Module}}">
                            {{c.Name}} ({{c.ProgramCount}})
                        </a>
                    </li>
                </ul>

                <hr>

                <!--<h5>Upcoming Courses</h5>
                <p>Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.</p>
                <p><a ui-sref="AllCourses" class=" button_red_small">ყველა კურსი</a></p>-->

            </div>
            <p><img src="assets/img/banner.jpg" alt="Banner" class="img-rounded"></p>
        </aside>

        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <div class="main-img">
                    <img src="assets/img/pic-4.jpg" alt="">
                    <p class="lead">Tibique dolores adversarium ne vel. At vide errem duo, vis luptatum menandri ullamcorper id. </p>
                </div>

                <div ng-include="'app/shared/_Cource_Programs.html'"></div>

                <p class="text-center"><a ui-sref="Apply" class="button_large">რეგისტრაცია</a></p>


            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>