<div class="container">

    <div class="row">
        <h1 class="span12">AutoCAD</h1>

        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a> <span class="divider">/</span></li>
                <li><a ui-sref="AllCourses">კურსები</a> <span class="divider">/</span></li>
                <li class="active">AutoCAD</li>
            </ul>
        </div>

        <!-- =========================Start Col left section ============================= -->
        <div ng-include="'app/shared/_LeftMenu_Courses.html'"></div>

        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <div class="main-img">
                    <img src="assets/img/pic-4.jpg" alt="">
                    <p class="lead">Auto Cad</p>
                </div>

                <div ng-include="'app/shared/_Cource_Programs.html'"></div>

                <div class="strip-lessons">
                    <div class="row">
                        <div class="span2">
                            <div class="box-style-one borders"><img src="assets/img/lessons.png" alt=""><h5>Intro two</h5></div>
                        </div>
                        <div class="span5">
                            <h4>Ulum epicurei</h4>
                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, <strong>mea ea ullum epicurei</strong>. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Pri aeque iuvaret nominati et, ad mea clita numquam. </p>
                            <ul class="data-lessons">
                                <li><i class="icon-time"></i>Duration: 3 hours</li>
                                <li><i class="icon-film"></i><a class="fancybox-media" href="http://www.youtube.com/watch?v=pgk-719mTxM" rel="media-gallery">Play video</a></li>
                                <li><i class="icon-cloud-download"></i><a href="#">Donwload prospect</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="strip-lessons">
                    <div class="row">
                        <div class="span2">
                            <div class="box-style-one borders"><img src="assets/img/teacher.jpg" alt="" class="picture"><h5>Lesson one</h5></div>
                        </div>
                        <div class="span5">
                            <h4>Putant mandamus</h4>
                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, <strong>mea ea ullum epicurei</strong>. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Pri aeque iuvaret nominati et, ad mea clita numquam. </p>
                            <ul class="data-lessons">
                                <li><i class="icon-time"></i>Duration: 3 hours</li>
                                <li><i class="icon-film"></i><a class="fancybox-media" href="http://www.youtube.com/watch?v=pgk-719mTxM" rel="media-gallery">Play video</a></li>
                                <li><i class="icon-cloud-download"></i><a href="#">Donwload prospect</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="strip-lessons">
                    <div class="row">
                        <div class="span2">
                            <div class="box-style-one borders"><img src="assets/img/teacher-2.jpg" alt="" class="picture"><h5>Lesson two</h5></div>
                        </div>
                        <div class="span5">
                            <h4>Quodsi nominavi</h4>
                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, <strong>mea ea ullum epicurei</strong>. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Pri aeque iuvaret nominati et, ad mea clita numquam. </p>
                            <ul class="data-lessons">
                                <li><i class="icon-time"></i>Duration: 3 hours</li>
                                <li><i class="icon-film"></i><a class="fancybox-media" href="http://www.youtube.com/watch?v=pgk-719mTxM" rel="media-gallery">Play video</a></li>
                                <li><i class="icon-cloud-download"></i><a href="#">Donwload prospect</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="strip-lessons">
                    <div class="row">
                        <div class="span2">
                            <div class="box-style-one borders"><img src="assets/img/teacher-3.jpg" alt="" class="picture"><h5>Lesson three</h5></div>
                        </div>
                        <div class="span5">
                            <h4>Saepe tantas</h4>
                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, <strong>mea ea ullum epicurei</strong>. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Pri aeque iuvaret nominati et, ad mea clita numquam. </p>
                            <ul class="data-lessons">
                                <li><i class="icon-time"></i>Duration: 3 hours</li>
                                <li><i class="icon-film"></i><a href="#">Play video</a></li>
                                <li><i class="icon-cloud-download"></i><a href="#">Donwload prospect</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="widget borders widget-table">

                    <div class="widget-header">
                        <h5>დეტალები</h5>
                    </div>
                <p class="text-center"><a ui-sref="Apply" class="button_large">რეგისტრაცია </a></p>


            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>