<div class="container">
    <div class="row">
        <h1 class="span12">AutoCAD</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a> <span class="divider">/</span></li>
                <li><a ui-sref="AllCourses">კურსები</a> <span class="divider">/</span></li>
                <li class="active">AutoCAD</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
        <div ng-include="'app/shared/_LeftMenu_Courses.html'"></div>
        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <div class="main-img">
                    <img src="assets/img/pic-4.jpg" alt="">
                    <p class="lead">Auto Cad</p>
                </div>
                <div ng-include="'app/shared/_Cource_Programs.html'"></div>
                <!--<div class="widget borders widget-table">
                    <div class="widget-header">
                        <h5>დეტალები</h5>
                    </div>
                    <p class="text-center"><a ui-sref="Apply" class="button_large">რეგისტრაცია </a></p>

                </div>-->
                
                <!-- end col right-->
        </section>
    </div><!-- end row-->
</div>