<div class="container">
    <div class="row">
        <h1 class="span12">AutoCAD</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a> <span class="divider">/</span></li>
                <li><a ui-sref="AllCourses">კურსები</a> <span class="divider">/</span></li>
                <li class="active">AutoCAD</li>
                <li class="active">2DDrowing</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
        <aside class="span4 ">
            <div class="col-left">
                <h3>კურსები</h3>
                <ul class="submenu-col">
                    <li>
                        <a ui-sref="AllCourses" id="{{('AllCourses' | isState) ? 'active' : 'false'}}">ყველა კურსი</a>
                    </li>
                    <li ng-repeat="p in Model">
                        <a id="{{(p.Module | isState) ? 'active' : 'false'}}" ui-sref="{{p.Module}}">
                            {{p.Name}}
                        </a>
                    </li>
                </ul>
                <hr>
                <!--<h5>Upcoming Courses</h5>
                <p>Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.</p>-->
                <p><a ui-sref="AllCourses" class=" button_red_small">ყველა კურსი</a></p>
            </div>
            <p><img src="assets/img/banner.jpg" alt="Banner" class="img-rounded"></p>
        </aside>
        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <h1>Autodesk AutoCAD 2015/2014 დაპროექტების საფუძვლები. 2D-ხაზვა</h1>

                კურსის დამთავრების შემდეგ თქვენ შეძლებთ:

                <ul>
                    <li>	2D ობიექტების შექმნა</li>
                    <li>	ანოტატური ობიექტების შექმნა: წარწერები, ზომები</li>
                    <li>	ბეჭვდაზე გამოყვანა ფურცლის სივრცის გამოყენებით</li>
                </ul>


                <br />


                კურსის ხანგრძლივობა 40 აკადემიური საათი<br />
                მეცადინეობები ტარდება კომპიუტერულ კლასში, ჯგუფში 1-დან  5-კაცამდე<br />
                ინსტრუქტორი:<br />
                წინასწარი მომზადება: <br />
                კურსი   ხაზვა. საბაზო კურსი CAD-სისტემების მომხმარებლებისათვის  ან ექვივალენტური მომზადება
                <br />
                წინასწარი მომზადება არის თქვენი წარმმატებული სწავლების საწინდარი. ყურადჭებით წაიკითხეთ მიტითებული კურსის პროგრამა და დამოუკიდებლად შეაფასეთ, გაქვთ თუ არა ამ პროგრამის შესაბამისი ცოდნა და გამოცდილება. თუ თქვენ ფლობთ მითითებული კურსის 85-90% ნაკლებს, მაშინ თქვენ აუცილებლად უნდა მიიღოთ წინასჭარი მომზადება. მხოლოდ ამის შემდეგ თქვენ შეძლებთ ხარისხიანად შეისწავლოთ მითითებული კურსი.

                <br />

                <br />
                რეკომენდებული კურსები:<br />
                ამ კურსთან ერთად რეკომენდებას გაძლევთ მოისმინოთ შემდეგი კურსები:<br />
                <ul>
                    <li>	Autodesk AutoCAD.  3D - მოდელირება და ვიზუალიზაცია</li>
                    <li>	Autodesk AutoCAD MEP. შენობების საინჟინრო სისტემების დაპროექტება</li>
                    <li>	Autodesk Inventor. სამანქანათმშნებლო 3D- დაპროექტება</li>
                    <li>	Autodesk Revit Architecture.  სამშენებლო ობიექტების დაპროექტება</li>
                </ul>

                <br />

                კურსის პროგრამა
                <br />
                ბეჭდვა
                <br />
                თემა	აკად.საათი
                <br />

                მოდული 1. ინტერფეისი და სამუშაოს დაწყება
                <br />
                <ul>
                    <li>	AutoCAD-ის ინტერფეისის თავისებურებანი, AutoCAD-ის კლასიკური ინტერფეისი</li>
                    <li>	სიახლეები AutoCAD-ის ახალ ვერსიების ინტერფეისში</li>
                    <li>	რაჟიმების გადართვების აწყობა.</li>
                    <li>	სამუშაო სივრცეები.</li>
                    <li>	ცნებები: მენიუს ბრაუზერი (მიმოხილვა), ლენტა, ლენტის ჩანართები, პანელი.</li>
                    <li>	ცნებები: ბრძანების სტრიქონი, დინამიური შეტანა.</li>
                    <li>	ავტოძებნა, ავტოჩანაცვლება ბრძანების სტრიქონში</li>
                    <li>	კონტექსტური მენიუები</li>
                    <li>	ნავიგაცია AutoCAD-ის ნახაზზე</li>

                </ul>
                მოდული 2. AutoCAD-ის პრიმრიტივები
                <br />
                <ul>
                    <li>	ცნება: მოდელის სივრცე.</li>
                    <li>	გაზომვის ერთეულების აწობა.</li>
                    <li>	 AutoCAD-ის ბრძანება. ბრძანების ოპციები.</li>
                    <li>	ცნებები: მარტივი და რთული პრიმიტივები.</li>
                    <li>	მონაკვეთი, წრე, რკალი, ელიფსი,ელიფტიკური რკალი.</li>
                    <li>	სპლაინი. ცნებები: განმსაზღვრელი წერტილები, მმართველი წვეროები.</li>
                    <li>	მართკუთხედი, სწორი მართკუთხედი.</li>
                    <li>	პოლიხაზი. პოლიხაზის რედაქტირება.</li>
                </ul>
                მოდული 3. კოორდინატების  განსაზღვრის  წესები
                <br />
                <ul>
                    <li>	აბსოლუტური კოორდინატები. ფარდობითი კოორდინატები</li>
                    <li>	პოლარული კოორდინატები</li>
                    <li>	ეკრანის მართვის საშუალებები: ზუმირება, პანორამირება</li>
                    <li>	პრიმიტივების გამოყოფა: სახელურები,  ჩარჩო, ლასო</li>
                    <li>	ობიექტური ბმების ჩართვა/გამორთვა/მომართვა</li>
                    <li>	„გამჭვირვალე“   ბრძანებები</li>
                </ul>
                მოდული  4. ობიექტების ზოგადი რედაქტირება
                <ul>
                    <li>	რედაქტირების ძირითადი პრინციპები სისტემაში</li>
                    <li>	ბრძანებები გადატანა-კოპირება-კოპირება მასივით</li>
                    <li>	მობრუნება, მასშტაბირება</li>
                    <li>	მოჭრა-დაგრძელება</li>
                    <li>	ეკვიდისტანტა(პარალელური კონტური), მომრგვალება, ნაზოლი</li>
                    <li>	წაშლა-დანაწევრება</li>
                    <li>	პალიტრა თვისებები</li>
                    <li>	რედაქტირება სახელურებით</li>
                </ul>

                მოდული 5. ობიექტების თვისებები. ფენები
                <br />
                <ul>
                    <li>	ობიექტების საერთო თვისებები - ფერი, ხაზის ტიპი, ხაზის წონა, გამჭირვალობა</li>
                    <li>	ობიექტების თვისებების მმართველი ინსტრუმენეტები</li>
                    <li>	ფენები. ფენების შექმნა და მათთან მუშაობის წესები</li>
                    <li>	ფენების მართვა: გამორთვა, გაყინვა, ბლოკირება</li>
                    <li>	ობიექტის იზოლაციის ცნება</li>
                    <li>	ფენების მოცილება</li>
                    <li>	ფენების მართვის თანამედროვე ინსტრუმენტები</li>
                    <li>	სამანქანათმშენებლო ნახაზის ფენების შემადგენლობა</li>
                    <li>	არქიტექტურული პროექტის ფენების შემადგენლობა</li>
                </ul>

                მოდული 6. ბლოკები
                <br />
                <ul>
                    <li>	ბლოკის შექმნა</li>
                    <li>	ბლოკის ჩასმა. ბლოკების გალერეა</li>
                    <li>	ბლოკის შესვლის გადამისამართება</li>
                    <li>	ბიბლიოთეკების შექმნა</li>
                    <li>	მუშაობა პალიტრასთან „მართვის ცენტრი“</li>

                </ul>
                მოდული 7. დაშტრიხვა
                <br />
                <ul>
                    <li>	დაშტრიხვის ტიპები</li>
                    <li>	დაშტრიხვის დატანა. წინასწარი დათვალიერება</li>
                    <li>	დაშტრიხვის წინასწარი დატანა რამოდენიმე ობიექტზე</li>
                    <li>	დაშტრიხვის თვისებები: ასოცირება, გამჭვირვალობა, ფონი</li>
                    <li>	დაშტრიხვის რედაქტირება</li>
                    <li>	დაშტრიხვის თანმიმდევრობა. ციკლური შერჩევა.</li>
                </ul>
                მოდული 8. ტექსტი
                <br />
                <ul>
                    <li>	ტექსტის ტიპები -მრავალსტრიქონიანი და ერთსტრიქონიანი</li>
                    <li>	შრიფტის ტიპები AutoCAD-ში</li>
                    <li>	მუშაობა მრავალსტრიქონიანი ტექსტის რედაქტორში</li>
                    <li>	ტექსტური სტილის შექმნა</li>
                    <li>	ტექსტის რედაქტირების საშუალებები</li>
                </ul>
                მოდული 9. ზომები
                <br />
                <ul>
                    <li>	ძირითადი ზომები - ხაზოვანი (პარალელეური), რადიუსები (დიამეტრები), კუთხოვანი</li>
                    <li>	ზომების დატანა</li>
                    <li>	ზომების რედაქტირება</li>
                    <li>	სპეციალური ზომები საბაზო. ჯაჭვური, ორდინატული</li>
                    <li>	ზომის სტილი. ზომის სტილის შექმნა</li>
                    <li>	ზომების თვისებები</li>
                    <li>	განსხვავებები სამანქანათმშნებლო და სამშენებლო არქიტექტორულ ნახაზებს შორის</li>
                </ul>
                მოდული 10. გამოყვანა ბეჭდვაზე
                <br />
                <ul>
                    <li>	ფურცლის სივრცის ცნება</li>
                    <li>	გადასვლის საშუალებები მოდელის სივრციდან ფურცლის სივრცეში და პირიქით</li>
                    <li>	ფურცლებთან მუშაობის საშუალებები (შექმნა, წაშლა, კოპირება, გადარქმევა)</li>
                    <li>	ფურცლის პარამეტრების აწყობა (ფურცლის პარამეტრების დისპეტჩერი)</li>
                    <li>	ხედების ეკრანების შექმნა და მათთან მუშაობის ხერხები</li>
                    <li>	ხედების დანიშვნის ხერხები ხედების ეკრანებში</li>
                    <li>	გამოსახულების მასშტაბის დანიშვნა და ხედების ეკრანების ბლოკირება</li>
                    <li>	ზომებთან მუშაობის თავისებურებანი მოდელის  სივრცეში და ფურცლის სივრცეში</li>
                    <li>	ფურცლიდან ნახაზების გაფორმება სტანდარტების მიხედვით</li>
                    <li>	ნახაზის გამოყვანა ბეჭვდაზე</li>
                    <li>	ცნება ანოტატურობა</li>
                    <li>	პუბლიკაცია PDF -ში</li>
                </ul>
                საერთო სასწავლო დატვირთვა, კონსულტაციების და დამოუკიდებელი მეცადინეობების ჩათვლით
                <br />
                სწავლების კურსის დასრულების შემდგომ ტარდება შემაჯამებელი ატესტაცია.
                <br />
                ატესტაცია ტარდება ტესტის სახით ბოლო მეცადინეობაზე ან კურსზე სწავლების დროს შესრულებული პრაქტიკული სამუშაოების შეფასებების საფუძველზე. 	72



            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>