<div class="container">
    <div class="row">
        <h1 class="span12">AutoCAD</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a> <span class="divider">/</span></li>
                <li><a ui-sref="AllCourses">კურსები</a> <span class="divider">/</span></li>
                <li class="active">AutoCAD</li>
                <li class="active">2DDrowing</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
        <aside class="span4 ">
            <div class="col-left">
                <h3>კურსები</h3>
                <ul class="submenu-col">
                    <li>
                        <a ui-sref="AllCourses" id="{{('AllCourses' | isState) ? 'active' : 'false'}}">ყველა კურსი</a>
                    </li>
                    <li ng-repeat="p in Model">
                        <a id="{{(p.Module | isState) ? 'active' : 'false'}}" ui-sref="{{p.Module}}">
                            {{p.Name}}
                        </a>
                    </li>
                </ul>
                <hr>
                <!--<h5>Upcoming Courses</h5>
                <p>Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.</p>-->
                <p><a ui-sref="AllCourses" class=" button_red_small">ყველა კურსი</a></p>
            </div>
            <p><img src="assets/img/banner.jpg" alt="Banner" class="img-rounded"></p>
        </aside>
        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <h2>3D - მოდელირება და ვიზუალიზაცია</h2>
                <br />

                კურსის დამთავრების შემდეგ თქვენ შეძლებთ:
                <ul>
                    <li>	მუშაობა სისტემაში Autodesk Inventor                </li>
                    <li>	მუშაობა ესკიზებთან                                 </li>
                    <li>	სხვადასხვა ელემენტების შექმნა და მათთან მუშობა   </li>
                    <li>	საამწყობო დეტალის შექმნა                           </li>
                    <li>	ადაპტური და პარამეტრული მოდელირების გამოყენება </li>
                    <li>	მონაცემების მართვა                                 </li>
                    <li>	პრეზენტაციების შექმნა                               </li>
                    <li>	ნახაზების და სპეციფიკაციების შექმნა                 </li>
                </ul>

                კურსის ხანგრძლივობა 40 აკადემიური საათი<br />
                მეცადინეობები ტარდება კომპიუტერულ კლასში, ჯგუფში 1-დან  5-კაცამდე<br />
                ინსტრუქტორი:<br />
                წინასწარი მომზადება:<br />
                კურსი   ხაზვა. საბაზო კურსი CAD-სისტემების მომხმარებლებისათვის  ან ექვივალენტური მომზადება<br />
                <br />   წინასწარი მომზადება არის თქვენი წარმმატებული სწავლების საწინდარი. ყურადჭებით წაიკითხეთ მიტითებული კურსის პროგრამა და დამოუკიდებლად შეაფასეთ, გაქვთ თუ არა ამ პროგრამის შესაბამისი ცოდნა და გამოცდილება. თუ თქვენ ფლობთ მითითებული კურსის 85-90% ნაკლებს, მაშინ თქვენ აუცილებლად უნდა მიიღოთ წინასჭარი მომზადება. მხოლოდ ამის შემდეგ თქვენ შეძლებთ ხარისხიანად შეისწავლოთ მითითებული კურსი.
                <br />  რეკომენდებული კურსები:
                <br /> ამ კურსთან ერთად რეკომენდებას გაძლევთ მოისმინოთ შემდეგი კურსები:
                <br />  Autodesk 3ds Max.  3D-მოდელირების საფუძვლები
                <br /> სერტიფიკაციები და გამოცდები
                <br /> აღნიშნული კურსი ამზადებს გამოცდებისათვის საერთაშორისო დონის სერტიფიცირებული სპეციალისტების   პროგრამით:
                <br /> AUTODESK INVENTOR  CERTIFIED ASSOCIATE
                <br />კურსის პროგრამა
                <br />  ბეჭდვა
                <br />   თემა	აკად.საათი
                <br />

                მოდული 1.სამუშაოს დაწყება და პარამეტრული მოდელირების საფუძვლები

                <ul>
                    <li>	შესავალი. პროექტირების ტიპები                                                                                                               </li>
                    <li>	პარამეტრული დაპროექტების ძირითადი პრინციპები                                                                                             </li>
                    <li>	სხვადასხვა ობიექტებს შორის ურთიერთკავშირების ტიპები                                                                                       </li>
                    <li>	პროგრამასთან მუშაობის დაწყება. ლენტთან და კლასიკურ ინტერფეისთან მუშაობის პრინციპები                                                     </li>
                    <li>	პროგრამა Autodesk Inventor ინტერფეისის ელემენტები                                                                                           </li>
                    <li>	მოდელის აგების ხის ისტორიის სტრუქტურა. ხესთან მუშაობის პრინციპები. ობიექტების ხილვადობის განსაზღვრა.                                   </li>
                    <li>	პროგრამის სამუშაო არე. მოდელის ხედების მართვა სამუშაო არეში                                                                               </li>
                    <li>	პროგრამა Autodesk Inventor-ის დოკუმენტების ტიპები. 3 მოდელების შექმნის პრინციპები. დაპროექტება ზემოდან ქვემოთ და ქვემოდან ზემოთ       </li>
                    <li>	Autodesk Inventor-ში მოდელის შექმნის ძირითადი ხერხები                                                                                       </li>
                    <li>	პარამეტრული მოდელის ძირითადი ნაწილები                                                                                                    </li>
                    <li>	Autodesk Inventor-ში პარამეტრული მოდელის რედაქტირების საფუძვლები                                                                         </li>
                    <li>	პროგრამა Autodesk Inventor-ში დეტალის დოკუმენტის შექმნა. ძირითადი настройки. პროგრამაში დეტალების შაბლონების შექმნა და რედაქტირება    </li>
                </ul>

                მოდული 2.  პროგრამა Autodesk Inventor-ის აწყობა
                <ul>
                    <li>	შაბლონების მომხმარებლის ფაილების შექმნა </li>
                    <li>	მუშაობა პროექტებთან                      </li>
                    <li>	პროგრამის ძირითადი მახასიათებლები       </li>
                </ul>

                მოდული 3.  მუშაობა ესკიზებთან
                <ul>
                    <li>	მუშაობის რეჟიმები პროგრამა Autodesk Inventor-ში                                                     </li>
                    <li>	ესკიზების რედაქტირების რეჟიმში შესვლა და ესკიზების რედაქტირების დასრულება                       </li>
                    <li>	სხვაობა რასტრულ და ვექტორულ გრაფიკებს შორის                                                     </li>
                    <li>	ობიექტების აგების ბრძანებები ესკიზების რედაქტირების რეჟიმში                                        </li>
                    <li>	ესკიზების სტატუსები                                                                                 </li>
                    <li>	გეომეტრიის დაგეგმარება ესკიზში                                                                      </li>
                    <li>	გეომეტრიული დამოკიდებულებების მინიჭება და რედაქტირება                                           </li>
                    <li>	ზომების დამოკიდებულებების მინიჭება და რედაქტირება                                                </li>
                    <li>	ღრძული, დამატებითი ხაზების და საცნობარო წერტილების აგება ესკიზში                                </li>
                    <li>	ესკიზებში შეცდომების კლასიფიკაცია და მათი გამოსწორებოს მეთოდები. ინსტრუმენტი SketchDoktor      </li>
                    <li>	ესკიზების რედაქტირება                                                                               </li>
                    <li>	ელემენტების ასოცირება ესკიზებთან, რომლის ბაზაზეც ისინი შეიქმნენ                                   </li>
                </ul>

                მოდული 4. ელემენტების შექმნა
                <ul>
                    <li>	დეტალების ელემენტების შქმნა                                                                                                                                                             </li>
                    <li>	ელემენტების ტიპები პროგრამა Autodesk Inventor-ში. ელემენტების ურთიერთქმედქბის პრინციპები                                                                                            </li>
                    <li>	ესკიზირებადი ელემენტები (ელემენტები, რომლის ასაგებადაც საჭიროა ესკიზები                                                                                                              </li>
                    <li>	ძირითადი მცნებები                                                                                                                                                                        </li>
                    <li>	ესკიზების ასაგები სიბრტყეები                                                                                                                                                              </li>
                    <li>	ელემენტების შექმნა ამობურცვის მეთოდით. მოთხოვნები ესკიზის მიმართ. საზღვრული პირობები. პარამეტრების კრებული ამობურცვის ელემენტისათვის. თხელკედლიანი ელემენტების შექმნა      </li>
                    <li>	ელემენტების შექმნა ბრუნების მეთოდით. მოთხოვნები ესკიზის მიმართ. საზღვრული პირობები. პარამეტრების კრებული ბრუნების ელემენტისათვის. თხელკედლიანი ელემენტების შექმნა          </li>
                    <li>	ელემენტების შექმნა გადაადგილების მეთოდით. მოთხოვნები ესკიზებისადმი. საზღვრული პირობები. ინსტრუმენტების აწყობა.  ბრუნვის ელემენტის პარამეტრების სია                            </li>
                    <li>	სამუშაო ელემენტი                                                                                                                                                                        </li>
                    <li>	სამუშაო(საცნობარო) გეომეტრიის დანიშნულება                                                                                                                                             </li>
                    <li>	სამუშაო სიბრტყეების შექმნა და რედაქტირება                                                                                                                                               </li>
                    <li>	სამუშაო ღერძების შექმნა და რედაქტირება                                                                                                                                                  </li>
                    <li>	სამუშაო წერტილების შექმნა და რედაქტირება                                                                                                                                               </li>
                    <li>	ელემენტი კვეთებისაგან. მოთხოვნები ესკიზებისადმი. ზღვული პირობები. პარამეტრების კრებული ელემენტის კვეთებით. კვეთების ინსტრუმენტის თვისებები                                     </li>
                </ul>
                მოდული5. ზედნადები ელემენტები

                <ul>
                    <li>	ზედნადები ელემენტები                                                                                                     </li>
                    <li>	ელემენტი ხვრელი. ელემენტის თვისებები. ხვრელთა ტიპები. ზღვრული პირობები. ელემენტი ხვრელის პარამეტრების კრებული   </li>
                    <li>	ელემენტები მომრგვალება და ნაზოლი                                                                                        </li>
                    <li>	მომრგვალების ტიპები. ელემენტიმომრგვალების პარამეტრების კრებული                                                        </li>
                    <li>	მომრგვალება მუდმივი რადიუსით                                                                                            </li>
                    <li>	მომრგვალება ცვალებადი რადიუსით                                                                                          </li>
                    <li>	წახნაგების მომრგვალება                                                                                                     </li>
                    <li>	სრული მომრგვალება                                                                                                        </li>
                    <li>	რთული ელემენტები                                                                                                         </li>
                    <li>	ელემენტი გარსი. ელემენტის თვისებები. გამოყენების წესები                                                                  </li>
                    <li>	ელემენტი დახრა                                                                                                            </li>
                    <li>	დახრა ნეიტრალური ზედაპირიდან                                                                                            </li>
                    <li>	დახრა შეერთების ხაზიდან                                                                                                   </li>
                    <li>	ელემენტი მასივი                                                                                                            </li>
                    <li>	მართკუთხა მასივი                                                                                                           </li>
                    <li>	პოლარული მასივი                                                                                                           </li>
                    <li>	ელემენტების სარკისებული ასახვა                                                                                            </li>
                    <li>	ელემენტი გადატანა. მოთხოვნები ესკიზის მიმართ. გამოყენების წესები                                                        </li>
                    <li>	ელემენტი წახნაგის გაყოფა.  წახნაგის გაყოფის ელემენტის გამოყენება დახრის ინსტრუმენტში                                   </li>
                </ul>

                მოდული 6. ანაწყობის შექმნის საფუძვლები
                <ul>
                    <li>	ანაწყობის დოკუმენტის შექმნა. ზირითადი პარამეტრები. ანწყობის შაბლონების შექმნა და რედაქტირება.    </li>
                    <li>	ანწყობის ხე. ანაწყობის ხესთან (ბრაუზერთან) მუშაობის პრინციპები                                      </li>
                    <li>	კომპონენტების განლაგება ანაწყობში. ანაწყობში კომპონენტების განლაგების წესები                         </li>
                    <li>	კომპონენტების შექმნა და რედაქტირება ანაწყობის კონტექსტში                                            </li>
                    <li>	სივრცული დამოკიდებულებების დადება და რედაქტირება                                                </li>
                    <li>	კომპონენტების გადაკვეთების ანალიზი                                                                   </li>
                    <li>	ანაწყობის კონტექსტში ჭრებიანი ხედების შექმნა                                                         </li>
                    <li>	სპეციფიკაციების პარამეტრები ანაწყობისათვის                                                            </li>
                    <li>	ხედები. პოზიციები. დეტალიზაციის დონეები ანაწყობებში. ბრაუზერის ელემენტები                       </li>
                </ul>

                მოდული 7. ადაპტური მოდელირება
                <ul>
                    <li>	ძირითადი ცნებები                                                                        </li>
                    <li>	ადაპტური დეტალების შექმნა                                                              </li>
                    <li>	ადაპტირების თვისებების დანიშვნა ელემენტებისათვის გეომეტრიული დამოკიდებულებებით   </li>
                    <li>	ადაპტური ანაწყობები                                                                     </li>
                </ul>

                მოდული 8. პარამეტრული მოდელირება
                <ul>
                    <li>	განტოლებები და პარამეტრები                                          </li>
                    <li>	განტოლებების გამოყენება დეტალის გარემოში                           </li>
                    <li>	განტოლებების გამოყენება ანაწყობის გარემოში                           </li>
                    <li>	Microsoft Excel-ის გამოყენება პარამეტრებთან მუშაობის დროს           </li>
                    <li>	პარამეტრების ერთობლივი გამოყენება                                   </li>
                    <li>	iPart-დეტალების პარამეტრული რიგების შექმნა                         </li>
                    <li>	iAssembly-ანაწყობების პარამეტრული რიგების შექმნა                     </li>
                    <li>	პარამეტრული რიგების განლაგება ანაწყობებში. კონფიგურაციების შექმნა  </li>
                </ul>
                მოდული 9. მუშაობა ნახაზებთან
                <ul>
                    <li>	დოკუმენტის ნახაზის შექმნა. დოკუმენტის ნახაზის შაბლონის შექმნა და რედაქტირება.               </li>
                    <li>	ნახაზების აწყობა. ჩარჩოს რედაქტირება, შტამპის რედაქტირება                                     </li>
                    <li>	შტამპის შევსება ხელით. შტამპის შევსება დოკუმენტის თვისებების საშუალებით                     </li>
                    <li>	ვისებებიანი კავშირების შექმნა                                                                    </li>
                    <li>	ხედების და ჭრების შექმნა და რედაქტირება                                                       </li>
                    <li>	ზომების დატანა და შენიშვნების შეტანა. ზომების და შენიშვნების იმპორტირება მოდელიდან         </li>
                    <li>	დეტალების ნახაზების შექმნა და რედაქტირება                                                     </li>
                    <li>	ანაწყობის ნახაზების შექმნა                                                                       </li>
                    <li>	მუშაობა ცხრილებთან. ცხრილთა ტიპები, ცხრილების შევსების ხერხები                             </li>
                    <li>	სპეციფიკაციების შექმნა ანაწყობის ნახაზებში                                                       </li>
                    <li>	ბეჭდვაზე გამოყვანა                                                                              </li>
                </ul>
                <br /> საერთო სასწავლო დატვირთვა, კონსულტაციების და დამოუკიდებელი მეცადინეობების ჩათვლით
                <br />
                <br />  სწავლების კურსის დასრულების შემდგომ ტარდება შემაჯამებელი ატესტაცია.
                <br /> ატესტაცია ტარდება ტესტის სახით ბოლო მეცადინეობაზე ან კურსზე სწავლების დროს შესრულებული პრაქტიკული სამუშაოების შეფასებების საფუძველზე.

            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>