<div class="container">
    <div class="row">
        <h1 class="span12">AutoCAD</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a> <span class="divider">/</span></li>
                <li><a ui-sref="AllCourses">კურსები</a> <span class="divider">/</span></li>
                <li class="active">AutoCAD</li>
                <li class="active">2DDrowing</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
        <aside class="span4 ">
            <div class="col-left">
                <h3>კურსები</h3>
                <ul class="submenu-col">
                    <li>
                        <a ui-sref="AllCourses" id="{{('AllCourses' | isState) ? 'active' : 'false'}}">ყველა კურსი</a>
                    </li>
                    <li ng-repeat="p in Model">
                        <a id="{{(p.Module | isState) ? 'active' : 'false'}}" ui-sref="{{p.Module}}">
                            {{p.Name}}
                        </a>
                    </li>
                </ul>
                <hr>
                <!--<h5>Upcoming Courses</h5>
                <p>Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.</p>-->
                <p><a ui-sref="AllCourses" class=" button_red_small">ყველა კურსი</a></p>
            </div>
            <p><img src="assets/img/banner.jpg" alt="Banner" class="img-rounded"></p>
        </aside>
        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <h2>3D - მოდელირება და ვიზუალიზაცია</h2>

                კურსის დამთავრების შემდეგ თქვენ შეგეძლებათ:
                •	3D - ობიექტების შექმნა და რედაქტირება
                •	ზედაპირების შექმნა და რედაქტირება
                •	მასალების და ტექსტურების დანიშვნა, განათება
                •	ობიექტების ვიზუალიზაცია
                •	3D - ობიექტებზე მონაცემების მიღება
                •	საამწყობოების შექმნა

                

                კურსის ხანგრძლივობა 40 აკადემიური საათი
                მეცადინეობები ტარდება კომპიუტერულ კლასში, ჯგუფში 1-დან 5-კაცამდე
                ინსტრუქტორი:
                წინასწარი მომზადება
                კურსი Autodesk AutoCAD დაპროექტების საფუძვლები. 2D ხაზვა  ან ექვივალენტური მომზადება
                წინასწარი მომზადება არის თქვენი წარმმატებული სწავლების საწინდარი. ყურადღებით წაიკითხეთ მითითებული კურსის პროგრამა და დამოუკიდებლად შეაფასეთ, გაქვთ თუ არა ამ პროგრამის შესაბამისი ცოდნა და გამოცდილება. თუ თქვენ ფლობთ მითითებული კურსის 85-90% ნაკლებს, მაშინ თქვენ აუცილებლად უნდა მიიღოთ წინასწარი მომზადება. მხოლოდ ამის შემდეგ თქვენ შეძლებთ ხარისხიანად შეისწავლოთ მითითებული კურსი.
                რეკომენდებული კურსები
                ამ კურსთან ერთად რეკომენდებას გაძლევთ მოისმინოთ შემდეგი კურსები  :
                Autodesk 3ds Max.  3D-მოდელირების საფუძვლები
                კურსის პროგრამა
                ბეჭდვა
                თემა	აკ. საათი

                მოდული 1. ინტერფეისი და სამუშაოს დაწყება
                •	სამუშაო სივრცეები - 3D-ძირითადები და 3D - მოდელირება
                •	სისტემის ახალი შესაძლებლობები
                •	მუშაობის ძირათადი ინსტრუმენტები. ხედების მართვა
                •	ვიზუალური სტილები
                •	მომხმარებლის კოორდინატთა სისტემის შექმნა (მკს). მკს-ის მართვა სახელურების საშუალებით
                •	აბსოლუტური და ფარდობითი დეკარტეს კოორდინატები AutoCAD -ის სამგანზომილებიან ნახაზებში
                •	სისტემური ცვლადების ცნება 	4
                მოდული 2. 3D-სხეულების შექმნის მეთოდები
                •	ცნება - სამუშაო სივრცე
                •	ამობურცვის მეთოდი
                •	გაწევის მეთოდი
                •	ბრუნვის მეთოდი
                •	ბრტყელი ობიექტების 3D - თვისებები
                •	ლოფტინგი (კვეთებზე)
                •	სტანდარტული 3D - პრიმიტივები
                •	ლოგიკური ოპერაციები ( გაერთიანება, გადაკვეთა, გამოკლება)
                •	3D -სხეულების შექმნა 	4
                მოდული 3. 3D სხეულების რედაქტირება
                •	ოპერაციები წახნაგებთან
                •	ოპერაციები წიბოებთან
                •	ქვეობიექტების ამორჩევის ფილტრი
                •	მობრუნების გადატანის და მასშტაბირების გიზმო
                •	3D სარკე
                •	სწორების ბრძანებები
                •	კვეთა	4
                მოდული 4. ზედაპირები .
                •	ზედაპირების  შექმნა
                •	ასოციატიური ზედაპირები და მათთან მუშაობა
                •	NURBS ზედაპირები და მათთან მუშაობა
                •	ზედაპირების რედაქტირება - შეუღლება, მოკვეთა, დაგრძელება, გადასვლა
                •	მმართველი წვეროების რედაქტირება
                •	3D სხეულების და ზედაპირების კომბინირებული მუშობა
                •	ბრტყელი ფიგურების შექმნა ნებისმიერ წახნაგებზე
                •	ინსტრუმენტი - გამოვყოთ იზოხაზები	4
                მოდული 5. ბადეები და წერტილების ღრუბლები.
                •	ბადეების შექმნა
                •	ბადე-პრიმიტივები
                •	ტესელაცია
                •	ბადეების რედაქტირება
                •	სხეულად გარდაქმნა
                •	ზედაპირად გარდაქმნა
                •	3D – სხეულის გარდაქმნა ბადეში
                •	წერტილების ღრუბლის შექმნა. Autodesk ReCap დანართი
                •	მუშაობა გეოგრაფიულ რუკებთან	4
                მოდული 6. ვიზუალიზაცია
                •	მასალების მიმომხილველი
                •	მასალების რედაქტორი. მასალების შექმნა
                •	განათება, სინათლის წყაროების სახეები
                •	კამერები. სახელობითი 3D ხედების შექმნა
                •	დინამიური კავშირი კარტოგრაფიულ მონაცემებთან (GeoLocation).
                •	ვიზუალიზაცია (რენდერი)	4
                მოდული 7. საპროექტო დოკუმენტაციის შექმნა  3D მოდელის  ბაზაზე.
                •	მონაცემების გამოყოფა ობიექტებიდან
                •	გეგმილური ხედების, ჭრების, კვეთების  შექმნა
                •	ხედების და ჭრების აღნიშვნების სტილების შექმნა
                •	საპროექტო დოკუმენტაციის ბეჭდვა	4
                მოდული 8. 3D -პრინტერზე  ბეჭდვის საფუძვლები
                •	3D-პრინტერის მუშაობის საფუძვლები
                •	dwg ფორმატის ფაილის  გარდაქმნა  stl ფორმატის ფაილში
                •	საცდელი ბეჭდვა	4
                საერთო სასწავლო დატვირთვა, კონსულტაციების და დამოუკიდებელი მეცადინეობების ჩათვლით
                სწავლების კურსის დასრულების შემდგომ ტარდება შემაჯამებელი ატესტაცია.
                ატესტაცია ტარდება ტესტის სახით ბოლო მეცადინეობაზე ან კურსზე სწავლების დროს შესრულებული პრაქტიკული სამუშაოების შეფასებების საფუძველზე.	72


            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>