<div class="container">
    <div class="row">
        <h1 class="span12">AutoCAD</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a> <span class="divider">/</span></li>
                <li><a ui-sref="AllCourses">კურსები</a> <span class="divider">/</span></li>
                <li class="active">AutoCAD</li>
                <li class="active">2DDrowing</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
        <aside class="span4 ">
            <div class="col-left">
                <h3>კურსები</h3>
                <ul class="submenu-col">
                    <li>
                        <a ui-sref="AllCourses" id="{{('AllCourses' | isState) ? 'active' : 'false'}}">ყველა კურსი</a>
                    </li>
                    <li ng-repeat="p in Model">
                        <a id="{{(p.Module | isState) ? 'active' : 'false'}}" ui-sref="{{p.Module}}">
                            {{p.Name}}
                        </a>
                    </li>
                </ul>
                <hr>
                <!--<h5>Upcoming Courses</h5>
                <p>Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.</p>-->
            </div>
            <p><img src="assets/img/banner.jpg" alt="Banner" class="img-rounded"></p>
        </aside>
        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <h2>3D - მოდელირება და ვიზუალიზაცია</h2>
                <br />
                <b> კურსის დამთავრების შემდეგ თქვენ შეგეძლებათ:</b>
                <ul style="padding-left: 15px; list-style-type:disc">
                    <li>	3D - ობიექტების შექმნა და რედაქტირება            </li>
                    <li>	ზედაპირების შექმნა და რედაქტირება                </li>
                    <li>	მასალების და ტექსტურების დანიშვნა, განათება     </li>
                    <li>	ობიექტების ვიზუალიზაცია                         </li>
                    <li>	3D - ობიექტებზე მონაცემების მიღება               </li>
                    <li>	საამწყობოების შექმნა                              </li>
                </ul>
                <br />
                <b>კურსის ხანგრძლივობა 40 აკადემიური საათი</b>
                <br />
                მეცადინეობები ტარდება კომპიუტერულ კლასში, ჯგუფში 1-დან 5-კაცამდე
                <br />
                <br />
                <b> წინასწარი მომზადება </b>
                <br />
                კურსი <a ui-sref="2DModellingVisualisation">AutoDesk AutoCad დაპროექტების საფუძვლები</a> . 2d ხაზვა ან ექვივალენტური მომზადება
                <br />
                <br />
                წინასწარი მომზადება არის თქვენი წარმმატებული სწავლების საწინდარი. ყურადღებით წაიკითხეთ მითითებული კურსის პროგრამა და დამოუკიდებლად შეაფასეთ, გაქვთ თუ არა
                ამ პროგრამის შესაბამისი ცოდნა და გამოცდილება. თუ თქვენ ფლობთ მითითებული კურსის
                85-90% ნაკლებს, მაშინ თქვენ აუცილებლად უნდა მიიღოთ წინასწარი მომზადება.
                მხოლოდ ამის შემდეგ თქვენ შეძლებთ ხარისხიანად შეისწავლოთ მითითებული კურსი.

                <br />
                <br />
                <b> რეკომენდებული კურსები</b>
                <br />

                ამ კურსთან ერთად რეკომენდებას გაძლევთ მოისმინოთ შემდეგი კურსები  :
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>თემა</td>
                            <td>აკად.საათი</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>  მოდული 1. ინტერფეისი და სამუშაოს დაწყება</b>
                                <ul>
                                    <li>	სამუშაო სივრცეები - 3D-ძირითადები და 3D - მოდელირება                                         </li>
                                    <li>	სისტემის ახალი შესაძლებლობები                                                                  </li>
                                    <li>	მუშაობის ძირათადი ინსტრუმენტები. ხედების მართვა                                              </li>
                                    <li>	ვიზუალური სტილები                                                                             </li>
                                    <li>	მომხმარებლის კოორდინატთა სისტემის შექმნა (მკს). მკს-ის მართვა სახელურების საშუალებით       </li>
                                    <li>	აბსოლუტური და ფარდობითი დეკარტეს კოორდინატები AutoCAD -ის სამგანზომილებიან ნახაზებში     </li>
                                    <li>	სისტემური ცვლადების ცნება                                                                      </li>
                                </ul>
                            </td>
                            <td>
                                <b>4</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b> მოდული 2. 3D-სხეულების შექმნის მეთოდები</b>
                                <ul>
                                    <li>	ცნება - სამუშაო სივრცე                                      </li>
                                    <li>	ამობურცვის მეთოდი                                         </li>
                                    <li>	გაწევის მეთოდი                                              </li>
                                    <li>	ბრუნვის მეთოდი                                             </li>
                                    <li>	ბრტყელი ობიექტების 3D - თვისებები                         </li>
                                    <li>	ლოფტინგი (კვეთებზე)                                        </li>
                                    <li>	სტანდარტული 3D - პრიმიტივები                              </li>
                                    <li>	ლოგიკური ოპერაციები ( გაერთიანება, გადაკვეთა, გამოკლება)  </li>
                                    <li>	3D -სხეულების შექმნა                                        </li>
                                </ul>
                            </td>
                            <td>
                                <b>4</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>  მოდული 3. 3D სხეულების რედაქტირება</b>
                                <ul>
                                    <li>	ოპერაციები წახნაგებთან                             </li>
                                    <li>	ოპერაციები წიბოებთან                              </li>
                                    <li>	ქვეობიექტების ამორჩევის ფილტრი                   </li>
                                    <li>	მობრუნების გადატანის და მასშტაბირების გიზმო      </li>
                                    <li>	3D სარკე                                            </li>
                                    <li>	სწორების ბრძანებები                                </li>
                                    <li>	კვეთა                                              </li>
                                </ul>
                            </td>
                            <td><b>4</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b> მოდული 4. ზედაპირები .</b>
                                <ul>
                                    <li>	ზედაპირების  შექმნა                                                       </li>
                                    <li>	ასოციატიური ზედაპირები და მათთან მუშაობა                               </li>
                                    <li>	NURBS ზედაპირები და მათთან მუშაობა                                      </li>
                                    <li>	ზედაპირების რედაქტირება - შეუღლება, მოკვეთა, დაგრძელება, გადასვლა    </li>
                                    <li>	მმართველი წვეროების რედაქტირება                                        </li>
                                    <li>	3D სხეულების და ზედაპირების კომბინირებული მუშობა                      </li>
                                    <li>	ბრტყელი ფიგურების შექმნა ნებისმიერ წახნაგებზე                           </li>
                                    <li>	ინსტრუმენტი - გამოვყოთ იზოხაზები                                       </li>
                                </ul>
                            </td>
                            <td><b>4</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b> მოდული 5. ბადეები და წერტილების ღრუბლები.</b>
                                <ul>
                                    <li>	ბადეების შექმნა                                           </li>
                                    <li>	ბადე-პრიმიტივები                                         </li>
                                    <li>	ტესელაცია                                                </li>
                                    <li>	ბადეების რედაქტირება                                     </li>
                                    <li>	სხეულად გარდაქმნა                                       </li>
                                    <li>	ზედაპირად გარდაქმნა                                      </li>
                                    <li>	3D – სხეულის გარდაქმნა ბადეში                           </li>
                                    <li>	წერტილების ღრუბლის შექმნა. Autodesk ReCap დანართი     </li>
                                    <li>	მუშაობა გეოგრაფიულ რუკებთან                            </li>
                                </ul>
                            </td>
                            <td>
                                <b>4</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>მოდული 6. ვიზუალიზაცია</b>
                                <ul>
                                    <li>	მასალების მიმომხილველი                                        </li>
                                    <li>	მასალების რედაქტორი. მასალების შექმნა                         </li>
                                    <li>	განათება, სინათლის წყაროების სახეები                           </li>
                                    <li>	კამერები. სახელობითი 3D ხედების შექმნა                         </li>
                                    <li>	დინამიური კავშირი კარტოგრაფიულ მონაცემებთან (GeoLocation).   </li>
                                    <li>	ვიზუალიზაცია (რენდერი)                                        </li>
                                </ul>
                            </td>
                            <td><b>4</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>  მოდული 7. საპროექტო დოკუმენტაციის შექმნა  3D მოდელის  ბაზაზე.</b>
                                <ul>
                                    <li>	მონაცემების გამოყოფა ობიექტებიდან                  </li>
                                    <li>	გეგმილური ხედების, ჭრების, კვეთების  შექმნა       </li>
                                    <li>	ხედების და ჭრების აღნიშვნების სტილების შექმნა     </li>
                                    <li>	საპროექტო დოკუმენტაციის ბეჭდვა                    </li>
                                </ul>
                            </td>
                            <td><b>4</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>   მოდული 8. 3D -პრინტერზე  ბეჭდვის საფუძვლები</b>
                                <ul>
                                    <li>	3D-პრინტერის მუშაობის საფუძვლები                        </li>
                                    <li>	dwg ფორმატის ფაილის  გარდაქმნა  stl ფორმატის ფაილში   </li>
                                    <li>	საცდელი ბეჭდვა                                           </li>
                                </ul>
                            </td>
                            <td><b>4</b></td>
                        </tr>
                        <tr>
                            <td>
                                საერთო სასწავლო დატვირთვა, კონსულტაციების და დამოუკიდებელი მეცადინეობების ჩათვლით
                                <br />
                                სწავლების კურსის დასრულების შემდგომ ტარდება შემაჯამებელი ატესტაცია.
                                <br />
                                ატესტაცია ტარდება ტესტის სახით ბოლო მეცადინეობაზე ან კურსზე სწავლების დროს
                                შესრულებული პრაქტიკული სამუშაოების შეფასებების საფუძველზე.
                            </td>
                            <td>
                                <b>  72</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>