<div class="container">
    <div class="row">
        <h1 class="span12">AutoCAD</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a> <span class="divider">/</span></li>
                <li><a ui-sref="AllCourses">კურსები</a> <span class="divider">/</span></li>
                <li class="active">AutoCAD</li>
                <li class="active">2DDrowing</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
        <aside class="span4 ">
            <div class="col-left">
                <h3>კურსები</h3>
                <ul class="submenu-col">
                    <li>
                        <a ui-sref="AllCourses" id="{{('AllCourses' | isState) ? 'active' : 'false'}}">ყველა კურსი</a>
                    </li>
                    <li ng-repeat="p in Model">
                        <a id="{{(p.Module | isState) ? 'active' : 'false'}}" ui-sref="{{p.Module}}">
                            {{p.Name}}
                        </a>
                    </li>
                </ul>
                <!--<h5>Upcoming Courses</h5>
                <p>Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.</p>-->
            </div>
            <p><img src="assets/img/banner.jpg" alt="Banner" class="img-rounded"></p>
        </aside>
        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <h2>ხაზვა. საბაზო კურსი CAD-სისტემების მომხმარებლებისათვის</h2>
                <br />
                <b>  კურსის დამთავრების შემდეგ თქვენ შეგეძლებათ:</b>
                <ul style="padding-left: 15px; list-style-type:disc">
                    <li>	ტერმინოლოგიის ცოდნა                                             </li>
                    <li>	სტანდარტის ცნება                                                 </li>
                    <li>	ISO-სტანდარტით ნახაზის შესრულების ძირითადი წესები             </li>
                    <li>	სხვადასხვა გეომეტრიული ფიგურების გამოსახულება, ჭრა, კვეთა     </li>
                    <li>	საკონსტრუქტორო დოკუმენტაციის ტიპები                            </li>
                    <li>	მოემზადებით სხვადასხვა CAD/CAM/CAE  - სისტემების შესასწავლად    </li>
                </ul>

                <br />
                <b>
                    კურსის ხანგრძლივობა 16 აკადემიური საათი
                </b><br />

                მეცადინეობები ტარდება კომპიუტერულ კლასში, ჯგუფში 1-დან 5-კაცამდე<br />
                <br />

                <br />
                <b> წინასწარი მომზადება: საჭირო არ არის</b><br />
                <br />
                <b> რეკომენდებული კურსები:</b>
                <br />
                ამ კურსთან ერთად რეკომენდებას გაძლევთ მოისმინოთ შემდეგი კურსები:
                <ul style="padding-left: 15px; list-style-type:disc">
                    <li>	Autodesk AutoCAD.   დაპროექტების საფუძვლები. 2D ხაზვა      </li>
                    <li>	Autodesk Inventor.  სამანქანათმშენებლო    3D - დაპროექტება  </li>
                </ul>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>თემა</td>
                            <td>აკად.საათი</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>მოდული 1. სახელმწიფო სტანდარტები</b>
                            </td>
                            <td><b>2</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    მოდული 2. სტანდარტებით ნახაზების შექმნის ძირითადი წესები
                                </b>

                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	ფურცლების ფორმატები    </li>
                                    <li>	მასშტაბები                </li>
                                    <li>	ხაზთა ტიპები             </li>
                                    <li>	სახაზავი შრიფტები        </li>
                                    <li>	ზომების დატანა           </li>
                                </ul>
                            </td>
                            <td><b>4</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b> მოდული 3. მრუდეები</b>
                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	ელიფსი        </li>
                                    <li>	ჰიპერბოლა     </li>
                                    <li>	პარაბოლა      </li>
                                    <li>	შეუღლებები    </li>
                                    <li>	კონიკა         </li>
                                </ul>
                            </td>
                            <td>
                                <b>2</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>მოდული  4. გეომეტრიული სხეულები და მათი გეგმილები</b>
                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	ცილინდრი  </li>
                                    <li>	სფერო      </li>
                                    <li>	კონუსი      </li>
                                    <li>	ტორი       </li>
                                </ul>
                            </td>
                            <td><b>2</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b> მოდული 5. გამოსახულებები ნახაზებზე</b>
                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	გეგმილები                                          </li>
                                    <li>	ხედები, დამატებითი ხედები                        </li>
                                    <li>	ჭრები ( ვერტიკალური, დახრილი, საფეხურიანი)      </li>
                                    <li>	კვეთები                                             </li>
                                    <li>	გამოსატანი ელემენტები                             </li>
                                    <li>	პერსპექტივა                                         </li>
                                    <li>	აქსონომეტრია                                       </li>
                                </ul>
                            </td>
                            <td>
                                <b>2</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                მოდული 6. საკონსტრუქტორო დოკუმენტაციის ტიპები
                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	სამანქანათმშენებლო ნახაზების თავისებურება           </li>
                                    <li>	სამშენებლო-არქიტექტურული ნახაზების თავისებურება  </li>
                                </ul>
                            </td>
                            <td><b>4</b></td>
                        </tr>
                        <tr>
                            <td>
                                საერთო სასწავლო დატვირთვა, კონსულტაციების და დამოუკიდებელი მეცადინეობების ჩათვლით
                                <br />
                                სწავლების კურსის დასრულების შემდგომ ტარდება შემაჯამებელი ატესტაცია.
                                <br />
                                ატესტაცია ტარდება ტესტის სახით ბოლო მეცადინეობაზე ან კურსზე სწავლების დროს შესრულებული პრაქტიკული სამუშაოების შეფასებების საფუძველზე.	72
                            </td>
                            <td>
                                <b>72</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>