<div class="container">
    <div class="row">
        <h1 class="span12">AutoCAD</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a> <span class="divider">/</span></li>
                <li><a ui-sref="AllCourses">კურსები</a> <span class="divider">/</span></li>
                <li class="active">AutoCAD</li>
                <li class="active">2DDrowing</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
        <aside class="span4 ">
            <div class="col-left">
                <h3>კურსები</h3>
                <ul class="submenu-col">
                    <li>
                        <a ui-sref="AllCourses" id="{{('AllCourses' | isState) ? 'active' : 'false'}}">ყველა კურსი</a>
                    </li>
                    <li ng-repeat="p in Model">
                        <a id="{{(p.Module | isState) ? 'active' : 'false'}}" ui-sref="{{p.Module}}">
                            {{p.Name}}
                        </a>
                    </li>
                </ul>
                <!--<h5>Upcoming Courses</h5>
                <p>Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.</p>-->
                <p><a ui-sref="AllCourses" class=" button_red_small">ყველა კურსი</a></p>
            </div>
            <p><img src="assets/img/banner.jpg" alt="Banner" class="img-rounded"></p>
        </aside>
        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <h2>ხაზვა. საბაზო კურსი CAD-სისტემების მომხმარებლებისათვის</h2>

                <br />

                კურსის დამთავრების შემდეგ თქვენ შეგეძლებათ:
                <ul>
                    <li>	ტერმინოლოგიის ცოდნა                                             </li>
                    <li>	სტანდარტის ცნება                                                 </li>
                    <li>	ISO-სტანდარტით ნახაზის შესრულების ძირითადი წესები             </li>
                    <li>	სხვადასხვა გეომეტრიული ფიგურების გამოსახულება, ჭრა, კვეთა     </li>
                    <li>	საკონსტრუქტორო დოკუმენტაციის ტიპები                            </li>
                    <li>	მოემზადებით სხვადასხვა CAD/CAM/CAE  - სისტემების შესასწავლად    </li>
                </ul>


                <br />
                კურსის ხანგრძლივობა 16 აკადემიური საათი<br />
                მეცადინეობები ტარდება კომპიუტერულ კლასში, ჯგუფში 1-დან 5-კაცამდე<br />
                ინსტრუქტორი:

                <br />

                წინასწარი მომზადება: საჭირო არ არის<br />
                რეკომენდებული კურსები:
                <br />

                ამ კურსთან ერთად რეკომენდებას გაძლევთ მოისმინოთ შემდეგი კურსები:
                <ul>
                    <li>	Autodesk AutoCAD.   დაპროექტების საფუძვლები. 2D ხაზვა      </li>
                    <li>	Autodesk Inventor.  სამანქანათმშენებლო    3D - დაპროექტება  </li>
                </ul>

                კურსის პროგრამა
                ბეჭდვა
                თემა	აკად.საათი

                მოდული 1. სახელმწიფო სტანდარტები
                <br />

                მოდული 2. სტანდარტებით ნახაზების შექმნის ძირითადი წესები
                <ul>
                    <li>	ფურცლების ფორმატები    </li>
                    <li>	მასშტაბები                </li>
                    <li>	ხაზთა ტიპები             </li>
                    <li>	სახაზავი შრიფტები        </li>
                    <li>	ზომების დატანა           </li>
                </ul>
                მოდული 3. მრუდეები
                <ul>
                    <li>	ელიფსი        </li>
                    <li>	ჰიპერბოლა     </li>
                    <li>	პარაბოლა      </li>
                    <li>	შეუღლებები    </li>
                    <li>	კონიკა         </li>
                </ul>

                მოდული  4. გეომეტრიული სხეულები და მათი გეგმილები
                <ul>
                    <li>	ცილინდრი  </li>
                    <li>	სფერო      </li>
                    <li>	კონუსი      </li>
                    <li>	ტორი       </li>
                </ul>
                მოდული 5. გამოსახულებები ნახაზებზე
                <ul>
                    <li>	გეგმილები                                          </li>
                    <li>	ხედები, დამატებითი ხედები                        </li>
                    <li>	ჭრები ( ვერტიკალური, დახრილი, საფეხურიანი)      </li>
                    <li>	კვეთები                                             </li>
                    <li>	გამოსატანი ელემენტები                             </li>
                    <li>	პერსპექტივა                                         </li>
                    <li>	აქსონომეტრია                                       </li>
                </ul>

                მოდული 6. საკონსტრუქტორო დოკუმენტაციის ტიპები
                <ul>
                    <li>	სამანქანათმშენებლო ნახაზების თავისებურება           </li>
                    <li>	სამშენებლო-არქიტექტურული ნახაზების თავისებურება  </li>
                </ul>
                <br />
                საერთო სასწავლო დატვირთვა, კონსულტაციების და დამოუკიდებელი მეცადინეობების ჩათვლით<br />

                სწავლების კურსის დასრულების შემდგომ ტარდება შემაჯამებელი ატესტაცია.<br />
                ატესტაცია ტარდება ტესტის სახით ბოლო მეცადინეობაზე ან კურსზე სწავლების დროს შესრულებული პრაქტიკული სამუშაოების შეფასებების საფუძველზე.	72

            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>