<div class="container">
    <div class="row">
        <h1 class="span12">AutoCAD</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a> <span class="divider">/</span></li>
                <li><a ui-sref="AllCourses">კურსები</a> <span class="divider">/</span></li>
                <li><a ui-sref="AutoCADCivil3D">AutoCADCivil3D</a> <span class="divider">/</span></li>
                <li class="active">InfrastructureProjecting</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
        <aside class="span4 ">
            <div class="col-left">
                <h3>კურსები</h3>
                <ul class="submenu-col">
                    <li>
                        <a ui-sref="AllCourses" id="{{('AllCourses' | isState) ? 'active' : 'false'}}">ყველა კურსი</a>
                    </li>
                    <li ng-repeat="p in Model">
                        <a id="{{(p.Module | isState) ? 'active' : 'false'}}" ui-sref="{{p.Module}}">
                            {{p.Name}}
                        </a>
                    </li>
                </ul>
                <hr>
                <!--<h5>Upcoming Courses</h5>
                <p>Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.</p>-->
                <p><a ui-sref="AllCourses" class=" button_red_small">ყველა კურსი</a></p>
            </div>
            <p><img src="assets/img/banner.jpg" alt="Banner" class="img-rounded"></p>
        </aside>
        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <h2>Autodesk AutoCAD Civil 3D ინფრასტრუქტურის ობიექტების დაპროექტება</h2>
                <br />
                კურსის დამთავრების შემდეგ თქვენ შეძლებთ:
                <ul style="padding-left: 15px; list-style-type:disc">
                    <li>	წერტილების შექმნა, წერტილების სტილის შეცვლა და წერტილთა ჯგუფის მართვა.                                      </li>
                    <li>	ზედაპირების შექმნა, რედაქტირება და ანალიზი, ზედაპირების სამგანზომილებიანი მოდელების განხილვა                  </li>
                    <li>	ნაკვეთების და ნაკვეთების ცხრილების შექმნა                                                                          </li>
                    <li>	მოედნების შექმნა, რამოდენიმე წერტილის ვიზირების შექმნა და რედაქტირება, პროფილების და კვეთების შექმნა          </li>
                    <li>	კონსტუქციების, გვირაბების, მილგამყვანი ბადეების და მათი კვეთების შექმნა, დერეფნების მოცულობის გათვლა.         </li>
                    <li>	ობიექტ-პროფილებთან მუშაობა                                                                                        </li>
                    <li>	მონაცემების იმპორტი  Autodesk Land Desktop-დან და მონაცემების ექსპორტი  Civil 3D-ში                              </li>
                    <li>	Vault-დან მონაცემების რედაქტირება და შემოწმება                                                                    </li>
                    <li>	ანგარიშების მონაცემების იმპორტი და მათთან მუშაობა                                                                 </li>
                </ul>

                <b>კურსის ხანგრძლივობა 40 აკადემიური საათი</b><br />
                <b> მეცადინეობები ტარდება კომპიუტერულ კლასში, ჯგუფში 1-დან  5-კაცამდე</b><br />
                <b>წინასწარი მომზადება:</b><br />
                კურსი Autodesk AutoCAD დაპროექტების საფუძვლები. 2D ხაზვა  ან ექვივალენტური მომზადება<br />
                Autodesk AutoCAD 2016/2014 3D - მოდელირება და ვიზუალიზაცია  ან ექვივალენტური მომზადება<br />

                <br />   წინასწარი მომზადება არის თქვენი წარმმატებული სწავლების საწინდარი. ყურადჭებით წაიკითხეთ მიტითებული კურსის პროგრამა
                და დამოუკიდებლად შეაფასეთ, გაქვთ თუ არა ამ პროგრამის შესაბამისი ცოდნა და გამოცდილება.
                თუ თქვენ ფლობთ მითითებული კურსის 85-90% ნაკლებს, მაშინ თქვენ აუცილებლად უნდა მიიღოთ წინასჭარი მომზადება.
                მხოლოდ ამის შემდეგ თქვენ შეძლებთ ხარისხიანად შეისწავლოთ მითითებული კურსი.

                <br /> ამ კურსთან ერთად რეკომენდებას გაძლევთ მოისმინოთ შემდეგი კურსები:
                <br />  Autodesk 3ds Max.  3D-მოდელირების საფუძვლები
                <br /> სერტიფიკაციები და გამოცდები
                <br /> აღნიშნული კურსი ამზადებს გამოცდებისათვის საერთაშორისო დონის სერტიფიცირებული სპეციალისტების   პროგრამით:

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>თემა</td>
                            <td>აკად.საათი</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>
                                    მოდული 1. სამუშაოს დაწყება
                                </b>

                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	სამომხმარებლო ინტერფეისი                     </li>
                                    <li>	პარამეტრების დაყენება                         </li>
                                    <li>	Civil 3D ობიექტები და მათი ურთიერთქმედება  </li>
                                    <li>	ობიექტების ასახვის შეცვლა                     </li>
                                    <li>	მეტკი ი ბირკი                                  </li>
                                </ul>
                            </td>
                            <td><b>2</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    მოდული 2. გეოდეზიური  მონაცემების დამუშავება
                                </b>

                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	გადაღების მონაცემებთან მუშაობის თანმიმდევრობა           </li>
                                    <li>	გადაღების მონაცემების შეტანა და რედაქტირება              </li>
                                    <li>	გადაღწბის ფიგურები                                        </li>
                                    <li>	გადაღების მონაცემების ანალიზი და გამოსავალი მონაცემები  </li>
                                </ul>
                            </td>
                            <td><b>4</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    მოდული 3. წერტილები
                                </b>

                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	წერტილების შექმნა                                                                   </li>
                                    <li>	მუშაობა გასაღებ-აღწერილობასთან                                                     </li>
                                    <li>	წერტილთა ჯგუფების შექმნა და იმპორტი                                              </li>
                                    <li>	წერტილების ასახვა                                                                   </li>
                                    <li>	მომხმარებლის მიერ შექმნილი თვისებების შექმნა და  დანიშვნა  წერტილებისათვის      </li>
                                </ul>
                            </td>
                            <td><b>4</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    მოდული 4. ზედაპირები
                                </b>

                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	ზედაპირების შექმნა და მასთან მონაცემების დამატება </li>
                                    <li>	ზედაპირების მონაცემების რედაქტირება               </li>
                                    <li>	ნიშნები,სტილები და ზედაპირების ვიზუალიზაცია     </li>
                                    <li>	ზედაპირის ანალიზი                                 </li>
                                    <li>	მოცულობების გათვლა                               </li>
                                </ul>
                            </td>
                            <td><b>4</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    მოდული 5. სამშენებლო გეოდეზიის ამოცანების გადაწყვეტა
                                </b>

                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	მუშაობა მოედნებთან                                                          </li>
                                    <li>	ნაკვეთების შექმნა და დაპროექტება                                            </li>
                                    <li>	მახასიეთებელი ხაზები                                                        </li>
                                    <li>	ვერტიკალური დაგეგმარების ფორმატების, კრიტერიუმების და სტილების შექმნა   </li>
                                    <li>	პროფილირების ობიექტების ექმნა და რედაქტირება                              </li>
                                    <li>	насыпи и выемки მოცულობის რეგულირება                                      </li>
                                </ul>
                            </td>
                            <td><b>5</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    მოდული 6. ტრასის დაგეგმარება გეგმაში და პროფილში
                                </b>

                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	ტრასის შექმნა და რედაქტირება გეგმაში                     </li>
                                    <li>	ტრასების ნიშნები და ცხრილები                             </li>
                                    <li>	ზედაპირების პროფილების გამოყენება                       </li>
                                    <li>	საპროექტო პროფილების გამოყენება                         </li>
                                    <li>	პროფილების და პროფილების სახეების სტილები და ასახვა   </li>
                                </ul>
                            </td>
                            <td><b>6</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    მოდული 7. გზები
                                </b>
                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	Поперечника  კონსტრუქციის შექმნა                                    </li>
                                    <li>	დერეფნების შექმნა და ორგანიზება                                    </li>
                                    <li>	გზების რთული მოდელების შექმნის ხერხები                           </li>
                                    <li>	არჩევის ხაზების, კვეთების კვეთების სახეების შექმნა და რედაქტირება  </li>
                                    <li>	მასალების მოცულობის გამოთვლა დერეფანში                          </li>
                                </ul>
                            </td>
                            <td><b>4</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    მოდული 8. მილგამყვანი ქსელები
                                </b>
                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	მილების და აღჭურვილობის ბაზები                       </li>
                                    <li>	Partbuilder (ელემენტების კონსტრუქტორი)               </li>
                                    <li>	ქსელების დაპროექტების წესების განსაზღვრა              </li>
                                    <li>	მილსადენების ქსელების შექმნის ინსტრუმენტები          </li>
                                    <li>	განივი პროფილების და კვეთების მიღება მილსადენებზე    </li>
                                </ul>
                            </td>
                            <td><b>4</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    მოდული 9. პროექტების მართვა
                                </b>
                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	პროექტის მართვის ოპტიმალური პრაქტიკა               </li>
                                    <li>	მუშაობა პროექტის ნახაზებთან და ობიექტებთან         </li>
                                    <li>	სწრაფი  ссылки ობიექტებზე                            </li>
                                    <li>	ერთობლივი წვდომა ნახაზებთან და მონაცემებთან       </li>
                                </ul>
                            </td>
                            <td><b>3</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    მოდული 10. ანგარიშბის და გამოსავალი ნახაზების ფორმირება
                                </b>
                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	ანგარიშების დისპეტჩერი. პარამეტრების განსაძღვრა, ანგარიშების ფორმირება და შენახვა  </li>
                                    <li>	მუშაობა გამოსავალი ნახაზების ფორმირების ინსტრუმენტებთან  </li>
                                </ul>
                            </td>
                            <td><b>4</b></td>
                        </tr>
                        <tr>
                            <td>
                                საერთო სასწავლო დატვირთვა, კონსულტაციების და დამოუკიდებელი მეცადინეობების ჩათვლით
                                <br/><br />
                                სწავლების კურსის დასრულების შემდგომ ტარდება შემაჯამებელი ატესტაცია.
                                ატესტაცია ტარდება ტესტის სახით ბოლო მეცადინეობაზე ან კურსზე სწავლების დროს შესრულებული პრაქტიკული სამუშაოების შეფასებების საფუძველზე.
                            </td>
                            <td><b>72</b></td>
                        </tr>
                    </tbody>
                </table>


            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>