<div class="container">
    <div class="row">
        <h1 class="span12">AutoCAD</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a> <span class="divider">/</span></li>
                <li><a ui-sref="AllCourses">კურსები</a> <span class="divider">/</span></li>
                <li><a ui-sref="AutoCADCivil3D">AutoCADCivil3D</a> <span class="divider">/</span></li>
                <li class="active">InfrastructureProjecting</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
        <aside class="span4 ">
            <div class="col-left">
                <h3>კურსები</h3>
                <ul class="submenu-col">
                    <li>
                        <a ui-sref="AllCourses" id="{{('AllCourses' | isState) ? 'active' : 'false'}}">ყველა კურსი</a>
                    </li>
                    <li ng-repeat="p in Model">
                        <a id="{{(p.Module | isState) ? 'active' : 'false'}}" ui-sref="{{p.Module}}">
                            {{p.Name}}
                        </a>
                    </li>
                </ul>
                <hr>
                <!--<h5>Upcoming Courses</h5>
                <p>Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.</p>-->
                <p><a ui-sref="AllCourses" class=" button_red_small">ყველა კურსი</a></p>
            </div>
            <p><img src="assets/img/banner.jpg" alt="Banner" class="img-rounded"></p>
        </aside>
        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <h1>კურსი AutoCAD Civil 3D </h1>
            <br />
                AutoCAD Civil 3D წარმოადგენს სამრეწველო მშენებლობის ყველაზე თანამედროვე  CAD-სისტემას. 
                <br /> <br />BIM (Building Information Model-შენობის ინფორმაციული მოდელი) ტექნოლოგიით რეალიზებული AutoCAD Civil 3D პროგრამული გარემო იძლევა საშუალებას მაქსიმალურად ეფექტურად შესრულდეს სატრანსპორტო ქსელების, ბუნებისდამცავი ნაგებობების და მიწადმოქმედების გადაწყვეტილებები. 
                აღნიშნული კურსით მომზადებული სპეციალისტები ფლობენ კარტოგრაფიული მონაცემების ანალიზისვრის, სამშენებლო ტექნიკის გამოყენების გათვლების ავტომატიზაციის  შესაძლებლობებს.

                <br /><br />
                Civil-ის შესწავლა აძლევს მომხმარებლებს შესაძლებლობას ისწავლონ 3d ფორმატში შექმნილი მოდელის დეტალური ანალიზისათვის გამოიყენონ ვიზუალური ანალიზის საშუალებები ეფექტურობის და ექსპლუატაციის საიმედოების თვალსაზრისით. Civil 3d კურსის შესწავლა იძლევა საშუალებას გამოვრიცხოთ მრავალი შეცდომა უკვე დაპროექტების სტადიაზე, რაც იძლევა დროის და მატერიალ-ტექნიკური რესურსის ეკონომიას, და საბოლოოდ ნიშნავს პირდაპირ მატერიალურ სარგებლობას საპროექტო სამუშაოების დამკვეთსა და შემსრულებლისათვის. 2013 წლის ვერსია პირველად ინტეგრაციის მაღალ დონეზე აერთიანებს სამუშაოების მთელ ციკლს პროექტზე - გეოდეზიური კვლევებიდან ობიექტის აღმართვამდე.
                Autodesk Civil 3D ითვალისწინებს სამოქალაქო მშენებლობის ამოცანების ფართო სპეკტრს და ქმნის ინტელექტუალურ კავშირებს ობიექტებს შორის, რაც უზრუნველყოფს პროექტის დინამიურ განახლებას მომხმარებლის მიერ შეტანილი ცვლილებების თანახმად.
                Autodesk AutoCAD Civil 3D  ინფრასტრუქტურის ობიექტების დაპროექტება.
                <br /><br />
                ამ კურსში თქვენ შეისწავლით მუშაობას წერტილთა მონაცემებით, ზედაპირების შექმნას და ანალიზს Autodesk CIVIL 3D-ში. ადვილად შეძლებთ თქვენი პროექტის სრულყოფას, გზების, დერეფნების, მილსადენების მოდელირებას, ანგარიშების ფორმირებას, მონაცემების იმპორტირებას და ექსპორტირებას GIS და CAD სისტემებში. თქვენ შეისწავლით, როგორ მოახდინოთ მონაცემების იმპორტი  Autodesk Land Desktop-დან და მონაცემების ექსპორტი Civil 3D-ში, და ასევე მონაცემების რეგისტრირება და გასინჯვა Vault-დან.
                პროგრამა Autodesk Civil 3D განკუთვნილია ლანდშაფტური დიზაინის   და მშენებლობის სპეციალისტებისათვის, როგორებიც არიან სამოქალაქო მშენებლობის ინჯინრები, ტოპოგრაფები, ტექნიკური მუშაკები და დამპროექტებლები.

            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>