<div class="container">

    <div class="row">
        <h1 class="span12">ჩვენს შესახებ</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a><span class="divider">/</span></li>
                <li class="active">ჩვენს შესახებ</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
        <aside class="span4 ">
            <div class="col-left">
                <h4>მისია</h4>
                <p>
                    Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.
                </p>
                <a ui-sref="About" class=" button_red_small">მეტი</a>
                <hr>

                <h4>სტრატეგია</h4>
                <p>
                    Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.
                </p>
                <a ui-sref="About" class=" button_red_small">მეტი</a>
                <hr>

                <h4>როგორ დავრეგისტრირდე</h4>
                <ul class=" list_2">
                    <li>Vivamus sagittis lacus vel augue laoreet </li>
                    <li>Nullam quis risus eget urna mollis</li>
                    <li>Nullam id dolor id nibh ultricies</li>
                    <li>Donec id elit non mi porta</li>
                </ul>
                <p><a ui-sref="Apply" class=" button_medium">რეგისტრაცია</a></p>
            </div><!--End col left -->

            <p><img src="assets/img/banner.jpg" alt="Banner" class="img-rounded"></p>
        </aside>

        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <div class="main-img">
                    <img src="assets/img/about.jpg" alt="">
                    <p class="lead">Autodesk-ის საგანმანათლებლო ცენტრი</p>
                </div>

                <p>
                    Autodesk -ის საგანმანათლებლო ცენტრი შექმნილია სტუ-ში კომპანია Autodesk -ის წარმომადგენლობასთან 2014 წელს გაფორმებულული ურთიერთთანამშრომლობის ხელშეკრულების საფუძველზე , EMEA ( Europe, Middle-East, Africa - ევროპა, ახლო აღმოსავლეთი, აფრიკა)რეგიონში .
                </p>

                <p>
                    Autodesk , Inc - ამერიკული ფირმაა, დაარსებულია 1982 წელს, შტაბბინა მდებარეობს სან-რაფაელში (კალიფორნია, აშშ ).
                </p>
                <p>
                    Autodesk -ი არის გრაფიკული პროგრამების მსოფლიოში უმსხვილესი მწარმოებელი, ისეთი მიმართულებებით, როგორიცაა  არქიტექტურა, მშენებლობა, მანქანათმშენებლობა , დიზაინი, მედია და გასართობი ინდუსტრია
                </p>
                <p>
                    დღეისათვის ის აწარმოებს 100 -ზე მეტი დასახელების პროდუქტს მსოფლიოს 19 ენაზე,
                    800-ზე მეტი მსოფლიო წამყვანი კომპანია არის Autodesk -ის მუდმივი კლიენტი, მათ შორის "Fortune-100" -სიაში შსული ყველა კომპანია და პრემია „ოსკარის“ ყველა მფლობელი ნომინაციაში „საუკეთესო ვიზუალური ეფექტები“ ბოლო 18 წლის განმავლობაში.
                    Autodesk -ის საგანმანათლებლო ცენტრი გთავაზობთ Autodesk -ის ყველა პოპულარული პროდუქტის შესწავლას: AutoCAD , Inventor , 3ds Max , Civil 3D , MEP , Revit, Maya, Sketchbook. .
                </p>

                <!--<h5>Your list</h5>
                <ul class=" list_1">
                    <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
                    <li>Nullam quis risus eget urna mollis ornare vel eu leo.</li>
                    <li>Nullam id dolor id nibh ultricies vehicula ut id elit.</li>
                    <li>Donec id elit non mi porta gravida at eget metus.</li>
                </ul>
                <h5>Your list with links</h5>
                <ul class=" list_3">
                    <li><a href="#">Vivamus sagittis lacus vel augue laoreet </a></li>
                    <li><a href="#">Nullam quis risus eget urna mollis</a></li>
                    <li><a href="#">Nullam id dolor id nibh ultricies</a></li>
                    <li><a href="#">Donec id elit non mi porta</a></li>
                </ul>

                <h5>How to apply</h5>
                <p><a href="#">Agam prima ea ius</a>, nec eros iudico labores ut. Id nonumes dolores voluptatibus eam. Ea eum comprehensam mediocritatem, quot splendide in per, moderatius temporibus ne quo. Vix aliquid graecis concludaturque te, no vix justo inani maiorum. Novum minimum qui ex. In cum amet debitis detraxit, cum at altera quodsi, putant explicari reprehendunt in eum.</p>
                -->
                <hr>
                <p class="text-center"><a ui-sref="Teachers" class="button_large">გაიცანით გუნდი</a></p>

            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>