<div class="container">
    <div class="row">
        <h1 class="span12">RevitArchitecture</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a> <span class="divider">/</span></li>
                <li><a ui-sref="AllCourses">კურსები</a> <span class="divider">/</span></li>
                <li class="active">RevitArchitecture</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
        <div ng-include="'app/shared/_LeftMenu_Courses.html'"></div>
        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <div class="main-img">
                    <img src="assets/img/pic-4.jpg" alt="">
                    <p class="lead">Tibique dolores adversarium ne vel. At vide errem duo, vis luptatum menandri ullamcorper id. </p>
                </div>
            
                <div ng-include="'app/shared/_Cource_Programs.html'"></div>

                <div class="widget borders widget-table">
                    <div class="widget-header">
                        <h5>Course detail</h5>
                    </div> <!-- .widget-header -->
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Lesson</th>
                                    <th>Instructor</th>
                                    <th>Time</th>
                                    <th>Room</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Curabitur blandit tempus porttitor </td>
                                    <td>Mark Twain</td>
                                    <td>10.30 AM</td>
                                    <td>004</td>
                                </tr>
                                <tr>
                                    <td>Pellentesque ornare sem</td>
                                    <td>Janet Hope</td>
                                    <td>10.30 AM</td>
                                    <td>014</td>
                                </tr>
                                <tr>
                                    <td>Integer posuere erat a ante venenatis</td>
                                    <td>Tom Cruise</td>
                                    <td>12.30 AM</td>
                                    <td>094</td>
                                </tr>
                                <tr>
                                    <td>Sed posuere consectetur</td>
                                    <td>Bob Sinclair</td>
                                    <td>11.30 AM</td>
                                    <td>054</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- .widget-content -->
                </div> <!-- /widget -->

                <p class="text-center"><a ui-sref="Apply" class="button_large">რეგისტრაცია</a></p>

            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>