<div class="container">
    <div class="row">
        <h1 class="span12">AutoCAD</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a ui-sref="Home">მთავარი</a> <span class="divider">/</span></li>
                <li><a ui-sref="AllCourses">კურსები</a> <span class="divider">/</span></li>
                <li class="active">AutoCAD</li>
                <li class="active">2DDrowing</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
        <aside class="span4 ">
            <div class="col-left">
                <h3>კურსები</h3>
                <ul class="submenu-col">
                    <li>
                        <a ui-sref="AllCourses" id="{{('AllCourses' | isState) ? 'active' : 'false'}}">ყველა კურსი</a>
                    </li>
                    <li ng-repeat="p in Model">
                        <a id="{{(p.Module | isState) ? 'active' : 'false'}}" ui-sref="{{p.Module}}">
                            {{p.Name}}
                        </a>
                    </li>
                </ul>
                <hr>
                <!--<h5>Upcoming Courses</h5>
                <p>Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, quam non faucibus luctus, mi arcu blandit diam, at faucibus mi ante vel augue.</p>-->
            </div>
            <p><img src="assets/img/banner.jpg" alt="Banner" class="img-rounded"></p>
        </aside>
        <!-- =========================Start Col right section ============================= -->
        <section class="span8  ">
            <div class="col-right">
                <h2>Autodesk Revit Architecture 2014. სამშენებლო ობიექტების დაპროექტება</h2>
                <br />
                კურსის დასრულების შემდეგ თქვენ შეძლებთ:
                <ul style="padding-left: 15px; list-style-type:disc">
                    <li>	მუშაობას პარამეტრულ ელემენტებთან                                           </li>
                    <li>	ორმხრივ მიმართულ ასოცირების გამოყენებას პროექტში                           </li>
                    <li>	ტოპოლოგიური ზედაპირების შექმნას და რედაქტირებას                           </li>
                    <li>	შენობის ფუნდამენტის შექმნას                                                  </li>
                    <li>	სხვადასხვა ტიპის კედლების ამოყვანას                                          </li>
                    <li>	დამატებითი ელემენტების შექმნას-ფანჯრები, კარებები, კიბეები, პანდუსები      </li>
                    <li>	მუშაობას გადახურვებთან და სახურავებთან                                      </li>
                    <li>	პროექტის ვიზუალიზაციას                                                       </li>
                    <li>	სპეციფიკაციების და უწყისების შექმნას                                          </li>
                    <li>	დოკუმენტაციის გაფორმებას                                                     </li>
                </ul>

                <br />
                <b> კურსის ხანგრძლივობა 40 აკადემიური საათი</b>
                <br />
                <b> მეცადინეობები ტარდება კომპიუტერულ კლასში, ჯგუფში 1-დან 5-კაცამდე</b>
                <br />
                <br />
                <b>  წინასწარი მომზადება</b>
                <br />
                კურსი  Autodesk AutoCAD 2015/2014. 3D -მოდელირება და ვიზუალიზაცია  ან ექვივალენტური მომზადება;
                <br />
                წარმოდგენა პარამეტრულ მოდელირებაზე.
                <br />
                წინასწარი მომზადება არის თქვენი წარმმატებული სწავლების საწინდარი. ყურადღებით წაიკითხეთ მითითებული კურსის პროგრამა და დამოუკიდებლად შეაფასეთ, გაქვთ თუ არა ამ პროგრამის შესაბამისი ცოდნა და გამოცდილება. თუ თქვენ ფლობთ მითითებული კურსის 85-90% ნაკლებს, მაშინ თქვნ აუცილებლად უნდა მიიღოთ წინასწარი მომზადება. მხოლოდ ამის შემდეგ თქვენ შეძლებთ ხარისხიანად შეისწავლოთ მითითებული კურსი.

                <br />
                <br />
                <b> რეკომენდებული კურსები</b>
                <br />
                ამ კურსთან ერთად რეკომენდებას გაძლევთ მოისმინოთ შემდეგი კურსები:

                <ul style="padding-left: 15px; list-style-type:disc">
                    <li>	Autodesk 3ds Max 3D-მოდელირების საფუძვლები                   </li>
                    <li>	Autodesk Revit MEP შენობების საინჟინრო სისტემების დაპროექტება </li>
                </ul>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>თემა</td>
                            <td>აკად.საათი</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>
                                    მოდული 1. Autodesk Revit-ის ძირითადი ცნებები
                                </b>

                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	BIM-ის ( შენობის ინფორმაციული მოდელის ) კონცეფცია                                                          </li>
                                    <li>	სამომხმარებლო ინტერფეისის გაცნობა                                                                            </li>
                                    <li>	ახალი პროექტის შექმნა: პროექტის შაბლონის გამოყენება, დაპროექტების პარამეტრების და რეჟიმების დაყენება      </li>
                                    <li>	ხატვის და რედაქტირების ინსტრუმენტების მიმოხილვა: დროებითი ზომები, ობიექტური ბმები, სწორების ხაზები    </li>
                                    <li>	სართულის გეგმის ფორმირება                                                                                   </li>
                                    <li>	დონეების განსაზღვრა და ცვლილება                                                                             </li>
                                    <li>	სამშენებლო ღერძების ბადის შქმნა                                                                              </li>
                                    <li>	ხედების შექმნა და მართვა                                                                                      </li>
                                    <li>	კომპონენტების და ოჯახების ბიბლიოთეკის გაცნობა                                                               </li>
                                </ul>
                            </td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>
                                <b> მოდული 2. შენობების მოდელირების საფუძვლები არქიტექტურული ელემენტების გამოყენებით</b>
                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	კედლები. შექმნა და რედაქტირება. კედლების თვისებები                                                                                                                                              </li>
                                    <li>	მრავალფენიანი კედლების შექმნა, თვისებები, რედაქტირების ინსტრუმენტები                                                                                                                           </li>
                                    <li>	კარებები, ფანჯრები, ღიობები. ობიექტის თვისებები და ასახვის თვისებები რედაქტირების ინსტრუმენტები                                                                                               </li>
                                    <li>	ზომები. თვისებები, საკვანძო წერტილები, შეზღუდვები, გათანაბრება. რედაქტირების საერთო ბრძანებები: გადაადგილება, კოპირება, შემობრუნება, მასივის შექმნა, მოკვეთა და დაგრძელება, სწორება      </li>
                                    <li>	მუშაობა მზიდ კონსტრუქციებთან. სვეტები, ძელები, ფუნდამენტები                                                                                                                                   </li>
                                    <li>	მუშაობა სახურავებთან და გადახურვებთან. შექმნის ხერხები, რედაქტირება, თვისებები, შეუღლება კედლებთან                                                                                          </li>
                                    <li>	ჩამოკიდული კედლები. უჯრედების ფორმირება და შევსება, შექმნის და რედაქტირების ინსტრუმენტები                                                                                                  </li>
                                    <li>	კიბეები და ღობეები. რედაქტირების თვისებები და ინსტრუმენტები                                                                                                                                    </li>
                                    <li>	ჯგუფების ფორმირება. მუშაობა ელემენტების ჯგუფებთან. იმპორტი და ექსპორტი სხვა პროექტში                                                                                                        </li>
                                </ul>
                            </td>
                            <td><b>10</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>  მოდული 3.  საპროექტო დოკუმენტაციის მომზადება Revit Architecture-ში</b>
                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	ძირითადი ხედების შექმნა და გაფორმება: გეგმები, ჭრები, ფასადები </li>
                                    <li>	სპეციფიკაციების შექმნა                                            </li>
                                    <li>	სპეციფიკაციების და ხედების გაფორმება ფურცელზე                 </li>
                                </ul>
                            </td>
                            <td>
                                <b>8</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b> მოდული 4. შენობების კონცეპტუალური მოდელირება. გენგეგმა</b>
                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	ფორმაწარმოქმნის ელემენტების შექმნა და შეკრება                              </li>
                                    <li>	ფორმაწარმოქმნის ელემენტების  იმპორტი სხვა დანართებიდან                   </li>
                                    <li>	არქიტექტორული ელემენტების გენერირება ფორმაწარმოქმნის ელემენტებიდან     </li>
                                    <li>	გენგეგმის მოდელირება
                                </ul>
                            </td>
                            <td><b>8</b></td>
                        </tr>
                        <tr>
                            <td>
                                <b>მოდული 5. კომპონენტების ოჯახების შექმნის და აწყობის ტექნიკის მიმოხილვა</b>
                                <ul style="padding-left: 15px; list-style-type:disc">
                                    <li>	ოჯახში ფორმაწარმოქმნის ძირითადი შესაძლებლობები      </li>
                                    <li>	პარამეტრები. მუშაობის სახეები, ხერხები                 </li>
                                    <li>	ოჯახების შაბლონების მიმოხილვა                         </li>
                                </ul>
                            </td>
                            <td><b>6</b></td>
                        </tr>
                        <tr>
                            <td>
                                აუდიტორული დატვირთვა კლასში, მასწავლებელთან
                            </td>
                            <td><b>40</b></td>
                        </tr>
                        <tr>
                            <td>

                                საერთო სასწავლო დატვირთვა, კონსულტაციების და დამოუკიდებელი მეცადინეობების ჩათვლით
                                <br />
                                სწავლების კურსის დასრულების შემდგომ ტარდება შემაჯამებელი ატესტაცია.
                                <br />
                                ატესტაცია ტარდება ტესტის სახით ბოლო მეცადინეობაზე ან
                                კურსზე სწავლების დროს შესრულებული პრაქტიკული სამუშაოების
                                შეფასებების საფუძველზე.
                            </td>
                            <td>
                                <b>72</b>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div>